@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  --fuente-Ubuntu: 'Ubuntu', sans-serif;
  --fuente-Exo: 'Exo', sans-serif;
  --color-anaranjado: #DD6C2F;
  --color-celeste: #338ECD;
  --color-gris: #727070;
  --color-verde: #83C441; }

/* globales */
section.blog .content .item:hover, section.blog .content .item a:hover {
  cursor: url(../img/leermas.png) 52 52, pointer !important; }

li.fex {
  display: none; }

/*boton de contactanos*/
a.contacto {
  text-decoration: none;
  background-color: var(--color-anaranjado);
  padding: 15px 25px;
  color: #fff;
  border-radius: 20px;
  font-family: var(--fuente-Ubuntu);
  font-weight: 500;
  font-size: 20px; }

h2 {
  font-family: var(--fuente-Exo);
  font-weight: 700;
  font-size: 40px;
  color: var(--color-celeste);
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 30px; }
  h2::before {
    content: url(../icons/title-rayas.svg);
    width: 103px;
    height: 26.11px;
    position: absolute;
    bottom: 14px;
    left: -23px; }

p {
  font-family: var(--fuente-Ubuntu);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-gris);
  line-height: 139.4%; }

.container {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto; }

main {
  overflow: hidden; }

header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav .logo img {
      width: 80%; }
    header nav .logo lottie-player {
      width: 80%;
      display: none; }
    header nav .logo a {
      display: flex; }
    header nav .logo a:hover img {
      display: none; }
    header nav .logo a:hover lottie-player {
      display: block; }
    header nav .navigation ul {
      list-style: none; }
      header nav .navigation ul li {
        display: inline-block;
        padding: 0 22px;
        color: #338ECD;
        font-family: var(--fuente-Ubuntu);
        font-weight: 500;
        font-size: 20px; }
        header nav .navigation ul li a {
          padding: 4px 0;
          text-decoration: none;
          color: #338ECD; }
        header nav .navigation ul li a.select {
          position: relative; }
          header nav .navigation ul li a.select::before {
            right: 0; }
      header nav .navigation ul li.contacto {
        padding-right: 0; }
        header nav .navigation ul li.contacto a {
          background-color: var(--color-anaranjado);
          padding: 15px 25px;
          color: #fff;
          border-radius: 20px; }
      header nav .navigation ul li.fex {
        position: relative; }
        header nav .navigation ul li.fex::after {
          content: '';
          opacity: 0;
          height: 0;
          width: 0;
          bottom: -65px;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 50px solid #fff;
          position: absolute;
          left: 50%;
          transform: translateX(-50%) translateY(15px);
          transition: 0.3s linear;
          pointer-events: none; }
        header nav .navigation ul li.fex ul {
          opacity: 0;
          display: flex;
          position: absolute;
          list-style: none;
          left: 50%;
          transform: translateX(-44%) translateY(15px);
          transition: 0.3s linear;
          padding-top: 40px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          pointer-events: none; }
          header nav .navigation ul li.fex ul li {
            background-color: #fff;
            display: inline-block;
            padding: 0 0px;
            border-left: 3px solid #E7F3F9; }
            header nav .navigation ul li.fex ul li p {
              text-align: center;
              font-family: var(--fuente-Ubuntu);
              font-weight: 500;
              font-size: 16px;
              color: var(--color-celeste); }
            header nav .navigation ul li.fex ul li a {
              padding: 22px 53px;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 220px;
              height: 100%; }
              header nav .navigation ul li.fex ul li a img {
                margin-bottom: 10px;
                transition: 0.2s linear; }
              header nav .navigation ul li.fex ul li a:hover img {
                transform: translateY(-5px); }
          header nav .navigation ul li.fex ul li:first-child {
            border-left: none;
            border-radius: 10px 0 0 10px; }
          header nav .navigation ul li.fex ul li:last-child {
            border-radius: 0 10px 10px 0; }
        header nav .navigation ul li.fex:hover::after {
          opacity: 1;
          transform: translateX(-50%) translateY(0px);
          pointer-events: initial; }
        header nav .navigation ul li.fex:hover ul {
          opacity: 1;
          transform: translateX(-44%) translateY(0px);
          pointer-events: initial; }

header.sticky {
  padding: 20px 0; }

header.sticky::before {
  transform: translateY(0%); }

header::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 112.8px;
  width: 100%;
  background: #fff;
  z-index: -2;
  transition: transform 0.1s ease;
  transform: translateY(-135%);
  filter: drop-shadow(0px 4px 39px rgba(51, 142, 205, 0.39)); }

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--color-verde);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0; }

section.home {
  height: 50vw; }
  section.home lottie-player {
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    z-index: -3; }
  section.home img.fondo {
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    z-index: -3; }
  section.home .bg-home {
    position: absolute;
    top: 0;
    z-index: -3; }
    section.home .bg-home svg {
      width: auto !important; }
  section.home .container {
    height: 100%;
    display: flex;
    align-items: center; }
  section.home .content {
    margin: auto 0;
    width: 60%;
    transform: translateY(-12px); }
    section.home .content h1 {
      font-family: var(--fuente-Exo);
      font-weight: 700;
      font-size: 67px;
      color: var(--color-celeste); }
      section.home .content h1 span {
        color: var(--color-verde); }
    section.home .content p {
      width: 58%;
      padding: 50px 0;
      padding-bottom: 65px; }
      section.home .content p span {
        font-weight: 700; }

.animation svg {
  width: auto !important; }

section.somos {
  padding: 140px 0; }
  section.somos .content p {
    padding-bottom: 30px; }
  section.somos .content p:last-child {
    padding-bottom: 0px; }

section.confian {
  background-color: #E7F3F9;
  padding: 140px 0;
  background-image: url(../img/lineas-fondo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; }
  section.confian .grid-empresas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 80px;
    grid-gap: 75px;
    column-gap: 78px;
    align-items: center;
    padding-top: 50px; }
    section.confian .grid-empresas .item {
      display: flex;
      justify-content: center; }
      section.confian .grid-empresas .item img {
        transition: 0.2s linear; }
      section.confian .grid-empresas .item:hover img {
        transform: translateY(-10px); }

section.socios {
  padding: 140px 0;
  padding-bottom: 70px; }
  section.socios h2 {
    margin-bottom: 50px; }
  section.socios .content {
    display: flex;
    justify-content: center; }
    section.socios .content .card {
      width: 336px;
      padding: 50px 35px;
      background-color: var(--color-celeste);
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column; }
      section.socios .content .card img {
        margin-bottom: 70px; }
      section.socios .content .card p {
        color: #fff;
        text-align: center;
        position: relative; }
        section.socios .content .card p::after {
          content: '';
          background-color: var(--color-verde);
          width: 80px;
          height: 3px;
          border-radius: 10px;
          position: absolute;
          top: -45px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 3; }
    section.socios .content .animation {
      margin: 0 67px;
      position: relative; }
      section.socios .content .animation a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        z-index: 3;
        padding: 15px 25px;
        white-space: nowrap; }

section.soluciones {
  padding: 70px 0; }
  section.soluciones h2 {
    margin-bottom: 50px; }
  section.soluciones .grid-soluciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 80px;
    grid-gap: 50px;
    align-items: flex-start; }
    section.soluciones .grid-soluciones .item img {
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
    section.soluciones .grid-soluciones .item lottie-player {
      display: none;
      width: auto !important;
      height: auto !important;
      margin-bottom: 14px;
      position: relative; }
    section.soluciones .grid-soluciones .item:hover img {
      display: none; }
    section.soluciones .grid-soluciones .item:hover lottie-player {
      display: block; }
    section.soluciones .grid-soluciones .item h3 {
      font-family: var(--fuente-Exo);
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: var(--color-celeste);
      padding-top: 17px;
      position: relative; }
      section.soluciones .grid-soluciones .item h3::after {
        content: '';
        background-color: var(--color-verde);
        width: 100%;
        height: 3px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3; }
    section.soluciones .grid-soluciones .item p {
      padding-top: 10px;
      padding-bottom: 15px; }
    section.soluciones .grid-soluciones .item a {
      text-decoration: none;
      position: relative;
      padding-left: 40px; }
      section.soluciones .grid-soluciones .item a span {
        transition: 0.2s linear;
        color: var(--color-verde);
        font-family: var(--fuente-Ubuntu);
        font-weight: 500;
        font-size: 20px; }
      section.soluciones .grid-soluciones .item a img {
        width: auto;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s linear;
        display: block !important; }
      section.soluciones .grid-soluciones .item a:hover span {
        opacity: 0.7; }
      section.soluciones .grid-soluciones .item a:hover img {
        left: 10px; }

section.novedades {
  padding: 70px 0; }
  section.novedades h2 {
    margin-bottom: 50px; }
  section.novedades .slider-novedades {
    padding-left: 180px; }
    section.novedades .slider-novedades .item {
      width: 425px !important;
      border: 3px solid #338ECD;
      border-radius: 10px;
      padding: 30px;
      margin: 0 30px;
      background-color: #fff; }
      section.novedades .slider-novedades .item p {
        font-family: var(--fuente-Exo);
        font-weight: 700;
        font-size: 25px;
        color: var(--color-celeste);
        padding-bottom: 30px; }
      section.novedades .slider-novedades .item .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px; }
        section.novedades .slider-novedades .item .info span {
          font-family: var(--fuente-Ubuntu);
          font-weight: 500;
          font-size: 20px;
          padding: 7px 19px;
          border: 1px solid var(--color-celeste);
          border-radius: 20px;
          color: var(--color-celeste); }
        section.novedades .slider-novedades .item .info p {
          font-family: var(--fuente-Ubuntu);
          font-weight: 500;
          font-size: 20px;
          padding-bottom: 0; }
      section.novedades .slider-novedades .item .btn {
        display: flex;
        justify-content: flex-end; }
        section.novedades .slider-novedades .item .btn a {
          text-decoration: none;
          color: var(--color-verde);
          font-family: var(--fuente-Ubuntu);
          font-weight: 500;
          font-size: 20px;
          display: flex;
          align-items: center; }
          section.novedades .slider-novedades .item .btn a img {
            margin-right: 8px;
            position: relative;
            left: -10px;
            transition: 0.2s linear; }
          section.novedades .slider-novedades .item .btn a:hover {
            opacity: 0.7; }
            section.novedades .slider-novedades .item .btn a:hover img {
              left: -1px; }
    section.novedades .slider-novedades .slick-track .item:first-child {
      margin-left: 0 !important; }
    section.novedades .slider-novedades .slick-prev {
      left: -22.5vw;
      background-image: url(../icons/flecha-slider.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 51px;
      height: 51px;
      right: 304px;
      left: inherit;
      transform: rotate(180deg) translateY(50%);
      transition: background-image 0.2s linear !important; }
      section.novedades .slider-novedades .slick-prev:hover {
        background-image: url(../icons/flecha-slider-hover.svg); }
    section.novedades .slider-novedades .slick-next {
      left: -18.5vw;
      background-image: url(../icons/flecha-slider.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 51px;
      height: 51px;
      right: 225px;
      left: inherit;
      transition: background-image 0.2s linear !important; }
      section.novedades .slider-novedades .slick-next:hover {
        background-image: url(../icons/flecha-slider-hover.svg); }
    section.novedades .slider-novedades .slick-prev:before, section.novedades .slider-novedades .slick-next:before {
      display: none; }
    section.novedades .slider-novedades .slick-prev, section.novedades .slider-novedades .slick-next {
      top: -82.5px; }
    section.novedades .slider-novedades .slick-prev.slick-disabled {
      opacity: 0.6;
      background-image: url(../icons/flecha-slider.svg); }
    section.novedades .slider-novedades .slick-next.slick-disabled {
      opacity: 0.6; }
      section.novedades .slider-novedades .slick-next.slick-disabled:hover {
        background-image: url(../icons/flecha-slider.svg); }

footer {
  padding-top: 70px;
  color: var(--color-celeste);
  position: relative; }
  footer .bg-footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    z-index: -3; }
    footer .bg-footer img {
      width: 100%; }
  footer .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px; }
  footer .part1 {
    max-width: 510px; }
    footer .part1 h2 {
      font-size: 35px;
      margin-bottom: 5px; }
      footer .part1 h2::before {
        content: none; }
    footer .part1 form {
      width: fit-content;
      position: relative; }
      footer .part1 form input {
        width: 510px;
        height: 58px;
        border-radius: 10px;
        border: 3px solid var(--color-celeste);
        background-color: transparent;
        outline: none !important;
        appearance: none;
        padding-left: 17px;
        padding-right: 46px;
        font-family: var(--fuente-Ubuntu);
        font-weight: 500;
        font-size: 20px;
        color: var(--color-celeste);
        padding-top: 6px; }
      footer .part1 form label {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-family: var(--fuente-Ubuntu);
        font-weight: 500;
        font-size: 20px;
        transition: 0.2s linear; }
      footer .part1 form .form-group {
        position: relative; }
      footer .part1 form .form-group.focusin label,
      footer .part1 form .form-group.ok label {
        font-size: 14px;
        top: 14px; }
      footer .part1 form button {
        border: none;
        position: absolute;
        background-color: transparent;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer; }
        footer .part1 form button img {
          transition: 0.2s linear; }
        footer .part1 form button:hover img {
          transform: scale(0.7); }
  footer .part2 {
    max-width: 290px; }
  footer ul {
    list-style: none; }
    footer ul li {
      font-family: var(--fuente-Ubuntu);
      font-weight: 700;
      font-size: 20px;
      padding: 13px 0;
      position: relative; }
      footer ul li::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        top: 23px;
        left: -20px;
        background-color: var(--color-verde);
        border-radius: 10px; }
      footer ul li ul {
        list-style: none; }
        footer ul li ul li {
          padding: 0;
          font-weight: 500;
          line-height: 1.5; }
          footer ul li ul li::after {
            content: none; }
    footer ul li:last-child {
      padding-bottom: 0; }
  footer .part3 {
    max-width: 380px; }
    footer .part3 ul li {
      padding: 13px 0; }
    footer .part3 .redes {
      display: flex; }
      footer .part3 .redes a {
        margin: 0 27px;
        transition: 0.2s linear; }
      footer .part3 .redes a:first-child {
        margin-left: 0; }
      footer .part3 .redes a:hover {
        transform: translateY(-5px); }
    footer .part3 p {
      font-family: var(--fuente-Ubuntu);
      font-weight: 500;
      font-size: 20px;
      color: var(--color-celeste);
      padding: 13px 0;
      line-height: 139.4%; }
    footer .part3 p:first-child {
      padding-top: 0; }
    footer .part3 p:last-child {
      padding-bottom: 0; }
  footer .pie {
    display: flex;
    border-top: 1px solid var(--color-celeste); }
    footer .pie .content {
      padding: 10px 0; }
      footer .pie .content p {
        font-family: var(--fuente-Ubuntu);
        font-weight: 400;
        font-size: 16px;
        color: var(--color-celeste); }
      footer .pie .content .creditos p {
        display: inline-block; }
      footer .pie .content .creditos img.corazon {
        width: 12px;
        margin-left: 2px; }
      footer .pie .content .creditos a {
        margin-left: 2px; }
        footer .pie .content .creditos a img {
          width: 55px; }

section.fondo-interna {
  height: 50.5vw; }
  section.fondo-interna img {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: -3; }

section.home-nosotros .content {
  display: flex;
  align-items: center;
  padding-top: 241.39px; }
  section.home-nosotros .content .part1 {
    width: 45%;
    padding-right: 70px; }
    section.home-nosotros .content .part1 h1 {
      font-weight: 700;
      font-size: 60px;
      color: var(--color-celeste);
      font-family: var(--fuente-Exo); }
    section.home-nosotros .content .part1 p {
      padding: 17px 0; }
    section.home-nosotros .content .part1 p:first-child(1) {
      padding-top: 0; }
    section.home-nosotros .content .part1 lottie-player {
      width: auto !important;
      height: auto !important; }
  section.home-nosotros .content .part2 {
    width: 55%; }

section.filosofia {
  padding: 140px;
  padding-bottom: 70px; }
  section.filosofia p {
    padding-bottom: 30px; }
  section.filosofia p:last-child {
    padding-bottom: 0px; }

section.mision-vision {
  padding: 70px 0; }
  section.mision-vision .container {
    width: 65%; }
    section.mision-vision .container .content {
      display: flex; }
      section.mision-vision .container .content lottie-player {
        margin-top: 45px; }
      section.mision-vision .container .content .part1 {
        width: 50%;
        padding-right: 100px;
        position: relative;
        height: 100%; }
        section.mision-vision .container .content .part1::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 3px;
          top: 0;
          right: 0;
          background-color: var(--color-gris);
          border-radius: 20px; }
      section.mision-vision .container .content .part2 {
        width: 50%;
        padding-left: 100px;
        height: 100%; }

section.valores {
  padding: 70px 0;
  padding-bottom: 260px; }
  section.valores h2 {
    margin-bottom: 50px; }
  section.valores .grid-valores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 47px; }
    section.valores .grid-valores .item lottie-player {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      position: relative;
      padding: 0 70px; }
      section.valores .grid-valores .item lottie-player::after {
        content: '';
        background-color: var(--color-verde);
        width: 100%;
        height: 3px;
        border-radius: 10px;
        position: absolute;
        bottom: -16px;
        left: 0;
        z-index: 3; }
    section.valores .grid-valores .item h3 {
      font-family: var(--fuente-Exo);
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: var(--color-celeste);
      padding-top: 17px;
      position: relative; }
    section.valores .grid-valores .item p {
      padding-top: 10px; }

section.home-servicios-interna .content {
  display: flex;
  align-items: center;
  padding-top: 241.39px; }
  section.home-servicios-interna .content .part1 {
    width: 50%;
    padding-right: 120px; }
    section.home-servicios-interna .content .part1 lottie-player {
      width: 228px !important;
      height: auto !important; }
    section.home-servicios-interna .content .part1 h1 {
      font-family: var(--fuente-Exo);
      font-weight: 700;
      font-size: 60px;
      color: var(--color-celeste);
      padding-top: 20px; }
    section.home-servicios-interna .content .part1 p {
      padding-top: 10px; }
  section.home-servicios-interna .content .part2 {
    width: 50%; }

.formulario {
  background-color: var(--color-celeste);
  border-radius: 10px;
  padding: 30px; }
  .formulario h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    font-family: var(--fuente-Exo); }
  .formulario form {
    margin-top: 40px; }
    .formulario form .form-group {
      margin-bottom: 25px;
      margin-left: 50px;
      position: relative; }
      .formulario form .form-group span {
        font-weight: inherit;
        background-color: #fff;
        bottom: 0;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        right: 0;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
        transform-origin: center left;
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        font-style: inherit;
        border-radius: 20px; }
      .formulario form .form-group span.animacion {
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform: scaleX(1); }
      .formulario form .form-group::before {
        background-image: url(../icons/vineta-input.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        left: -46px;
        width: 31px;
        height: 12px;
        content: ''; }
      .formulario form .form-group label {
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 13px;
        transition: 0.1s linear;
        font-family: var(--fuente-Ubuntu); }
      .formulario form .form-group input {
        height: 48px;
        font-family: var(--fuente-Ubuntu);
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        width: 100%;
        border: 0;
        position: relative;
        border: 0;
        outline: none !important;
        appearance: none;
        -webkit-box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
        background-color: transparent; }
      .formulario form .form-group textarea {
        padding-top: 10px;
        background-color: transparent;
        position: relative;
        appearance: none;
        border: 0;
        outline: none !important;
        font-family: var(--fuente-Ubuntu);
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        color: #fff;
        -webkit-box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
        height: 130px; }
    .formulario form .formmensaje span {
      bottom: 4px; }
    .formulario form .form-group.focusin label,
    .formulario form .form-group.ok label {
      font-size: 14px;
      top: -3px; }
    .formulario form .form-group.formmensaje.focusin label,
    .formulario form .form-group.formmensaje.ok label {
      font-size: 14px;
      top: -7px; }
    .formulario form .archivo {
      display: flex;
      flex-direction: column; }
      .formulario form .archivo p {
        font-family: var(--fuente-Ubuntu);
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        padding-top: 13px;
        white-space: nowrap;
        margin-right: 10px; }
      .formulario form .archivo input {
        padding-top: 13px;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto; }
    .formulario form .checkbox-box {
      display: flex;
      margin-left: 50px;
      align-items: center; }
      .formulario form .checkbox-box input {
        background-color: var(--color-celeste) !important;
        margin-right: 10px; }
      .formulario form .checkbox-box p {
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        font-family: var(--fuente-Ubuntu); }
        .formulario form .checkbox-box p a {
          color: #fff; }
    .formulario form button {
      padding: 15px 50px;
      background-color: var(--color-anaranjado);
      border-radius: 20px;
      font-family: var(--fuente-Ubuntu);
      font-weight: 500;
      font-size: 20px;
      border: 0;
      color: #fff;
      cursor: pointer;
      margin-top: 30px; }

section.beneficios {
  padding-top: 140px;
  padding-bottom: 70px; }
  section.beneficios .container {
    width: 69%; }
  section.beneficios .content {
    display: flex; }
    section.beneficios .content .part1 {
      width: 50%; }
      section.beneficios .content .part1 img {
        margin-bottom: 20px; }
      section.beneficios .content .part1 h2 {
        max-width: 600px;
        margin-bottom: 10px; }
        section.beneficios .content .part1 h2:before {
          bottom: 5px; }
      section.beneficios .content .part1 lottie-player {
        height: auto;
        width: auto;
        width: 63%;
        margin-bottom: 20px; }
    section.beneficios .content .part2 {
      width: 50%;
      padding-left: 46px; }
      section.beneficios .content .part2 ul {
        list-style: none; }
        section.beneficios .content .part2 ul li {
          position: relative;
          font-family: var(--fuente-Ubuntu);
          font-weight: 400;
          font-size: 20px;
          color: #727070;
          margin: 45px 0;
          line-height: 139.4%; }
          section.beneficios .content .part2 ul li::before {
            content: '';
            background-image: url(../icons/vineta-input.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -46px;
            width: 31px;
            height: 11.35px; }
        section.beneficios .content .part2 ul li:first-child {
          margin-top: 0; }

section.tarjeta-contacto {
  padding: 70px 0; }
  section.tarjeta-contacto .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-celeste);
    padding: 50px 150px;
    border-radius: 10px; }
    section.tarjeta-contacto .content .part1 {
      width: 60%; }
      section.tarjeta-contacto .content .part1 h3 {
        font-family: var(--fuente-Exo);
        font-weight: 700;
        font-size: 40px;
        color: #fff; }

section.fondo-socios {
  height: 33.5vw; }
  section.fondo-socios img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3; }
  section.fondo-socios lottie-player {
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    z-index: -3;
    top: 0; }
  section.fondo-socios .content {
    padding-top: 241.39px;
    display: flex; }
    section.fondo-socios .content .part1 {
      width: 50%; }
      section.fondo-socios .content .part1 h1 {
        font-family: var(--fuente-Exo);
        font-weight: 700;
        font-size: 60px;
        color: var(--color-celeste); }
      section.fondo-socios .content .part1 p {
        padding-top: 15px; }
    section.fondo-socios .content .part2 {
      width: 50%; }

section.respaldo {
  padding-top: 140px;
  padding-bottom: 70px; }
  section.respaldo .content {
    display: flex; }
    section.respaldo .content .part1 {
      width: 50%;
      padding-right: 90px;
      text-align: center; }
      section.respaldo .content .part1 img {
        margin-top: 50px; }
      section.respaldo .content .part1 lottie-player {
        height: auto;
        width: auto;
        margin-top: 50px; }
      section.respaldo .content .part1 h2, section.respaldo .content .part1 p {
        text-align: start; }
    section.respaldo .content .part2 {
      width: 50%;
      padding-left: 40px;
      text-align: center; }
      section.respaldo .content .part2 img {
        margin-bottom: 50px; }
      section.respaldo .content .part2 p {
        text-align: start; }
      section.respaldo .content .part2 lottie-player {
        height: auto;
        width: auto;
        margin-bottom: 50px; }

section.aliados {
  padding: 70px 0; }
  section.aliados h2 {
    margin-bottom: 50px; }
  section.aliados .marquee-with-options {
    padding-top: 0px;
    width: 100%;
    overflow: hidden; }
    section.aliados .marquee-with-options .text {
      display: flex;
      align-items: center; }
    section.aliados .marquee-with-options .js-marquee {
      margin: 0 !important; }
    section.aliados .marquee-with-options .item {
      margin: 0 45px; }

section.competencias {
  padding: 70px 0; }
  section.competencias h2 {
    margin-bottom: 50px; }
  section.competencias .slider-competencias {
    margin-top: 20px; }
    section.competencias .slider-competencias .item {
      margin: 0 30px;
      border-radius: 10px;
      border: 3px solid var(--color-celeste);
      padding: 30px 0; }
      section.competencias .slider-competencias .item img {
        padding: 0 30px;
        padding-bottom: 30px;
        width: 100%; }
      section.competencias .slider-competencias .item .info {
        padding: 30px;
        padding-bottom: 0;
        position: relative; }
        section.competencias .slider-competencias .item .info::after {
          content: '';
          width: 100%;
          height: 2.5px;
          position: absolute;
          top: 0;
          background-color: var(--color-celeste);
          left: 0; }
      section.competencias .slider-competencias .item h3 {
        font-weight: 700;
        font-size: 25px;
        font-family: var(--fuente-Exo);
        color: var(--color-celeste); }
      section.competencias .slider-competencias .item p {
        padding-top: 15px; }
    section.competencias .slider-competencias .slick-prev:before, section.competencias .slider-competencias .slick-next:before {
      content: none; }
    section.competencias .slider-competencias .slick-prev {
      background-image: url(../icons/flecha-slider.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 51px;
      height: 51px;
      transform: rotate(180deg) translateY(50%);
      left: initial;
      right: 78px;
      transition: 0.2s linear; }
      section.competencias .slider-competencias .slick-prev:hover {
        background-image: url(../icons/flecha-slider-hover.svg); }
    section.competencias .slider-competencias .slick-next {
      background-image: url(../icons/flecha-slider.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 51px;
      height: 51px;
      left: initial;
      right: 0;
      transition: 0.2s linear; }
      section.competencias .slider-competencias .slick-next:hover {
        background-image: url(../icons/flecha-slider-hover.svg); }
    section.competencias .slider-competencias .slick-prev, section.competencias .slider-competencias .slick-next {
      top: -76px; }
    section.competencias .slider-competencias .slick-prev.slick-disabled {
      opacity: 0.6;
      background-image: url(../icons/flecha-slider.svg); }
    section.competencias .slider-competencias .slick-next.slick-disabled {
      opacity: 0.6; }
      section.competencias .slider-competencias .slick-next.slick-disabled:hover {
        background-image: url(../icons/flecha-slider.svg); }

section.trabajo {
  height: auto !important;
  padding-bottom: 241.39px; }
  section.trabajo img.fondo {
    top: -197px; }
  section.trabajo .content {
    padding-top: 250px;
    padding-top: 241.39px;
    display: flex; }
    section.trabajo .content .part1 {
      width: 50%;
      padding-right: 100px; }
      section.trabajo .content .part1 h1 {
        font-family: var(--fuente-Exo);
        font-weight: 700;
        font-size: 60px;
        color: var(--color-celeste); }
      section.trabajo .content .part1 p {
        padding-top: 20px; }
      section.trabajo .content .part1 .img {
        display: flex;
        justify-content: center;
        padding-top: 85px; }
        section.trabajo .content .part1 .img lottie-player {
          width: 80%; }
      section.trabajo .content .part1 img {
        position: relative;
        width: 60%;
        z-index: initial; }
    section.trabajo .content .part2 {
      width: 50%; }

section.proteccion {
  padding-bottom: 280px;
  position: relative; }
  section.proteccion .fondo {
    position: absolute;
    bottom: -245px;
    z-index: -3; }
  section.proteccion .container {
    width: 40%; }
  section.proteccion .content {
    padding-top: 241.39px; }
    section.proteccion .content h1 {
      font-family: var(--fuente-Ubuntu);
      font-weight: 700;
      font-size: 60px;
      color: var(--color-celeste);
      text-align: center; }
    section.proteccion .content p {
      padding-top: 30px;
      text-align: center; }

section.thanks-page {
  padding: 73px 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg, #E7F3F9 0%, rgba(231, 243, 249, 0) 63.02%); }
  section.thanks-page .container {
    height: 100%; }
  section.thanks-page .fondo {
    position: absolute;
    bottom: 0;
    width: 100%; }
  section.thanks-page .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative; }
  section.thanks-page .top {
    position: absolute;
    right: 0;
    top: 0; }
  section.thanks-page h1 {
    font-family: var(--fuente-Ubuntu);
    font-weight: 700;
    font-size: 60px;
    color: var(--color-celeste); }
  section.thanks-page p {
    padding: 30px 0; }

section.contact-page {
  background: linear-gradient(180deg, #E7F3F9 0%, rgba(231, 243, 249, 0) 63.02%);
  padding-bottom: 30px; }
  section.contact-page .container {
    width: 42%; }
  section.contact-page .content {
    padding-top: 241.39px; }
    section.contact-page .content h1 {
      font-family: var(--fuente-Ubuntu);
      font-weight: 700;
      font-size: 60px;
      color: var(--color-celeste);
      text-align: center; }
    section.contact-page .content p {
      padding-top: 30px;
      text-align: center; }
    section.contact-page .content .formulario {
      background-color: transparent;
      display: flex;
      justify-content: center; }
    section.contact-page .content form {
      margin-top: 20px;
      width: 84%; }
      section.contact-page .content form .form-group span {
        background-color: var(--color-celeste); }
    section.contact-page .content label {
      color: var(--color-celeste); }
    section.contact-page .content input, section.contact-page .content textarea {
      color: var(--color-celeste);
      -webkit-box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
      box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39); }
    section.contact-page .content .checkbox-box P {
      color: var(--color-gris);
      padding-top: 0; }
      section.contact-page .content .checkbox-box P a {
        color: var(--color-gris); }
    section.contact-page .content select {
      height: 48px;
      width: 100%;
      border: 0;
      appearance: none;
      outline: none !important;
      -webkit-box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
      box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
      font-family: var(--fuente-Ubuntu);
      font-weight: 400;
      font-size: 20px;
      color: var(--color-celeste);
      position: relative;
      background-color: transparent; }
      section.contact-page .content select option {
        padding-left: 10px !important; }
    section.contact-page .content .formmotivo, section.contact-page .content .formasunto {
      position: relative; }
      section.contact-page .content .formmotivo::after, section.contact-page .content .formasunto::after {
        content: '';
        background-image: url("../icons/flecha-select.svg");
        position: absolute;
        top: 21px;
        right: 7px;
        width: 16px;
        height: 12px;
        z-index: -2;
        transform: rotate(-90deg); }
    section.contact-page .content .formmotivo.open::after, section.contact-page .content .formasunto.open::after {
      transform: rotate(0deg); }
    section.contact-page .content .btn {
      display: flex;
      justify-content: center; }

section.footer-contacto {
  padding-top: 70px;
  position: relative; }
  section.footer-contacto img.fondo {
    position: absolute;
    bottom: 45px;
    z-index: -3; }
  section.footer-contacto h3 {
    font-family: var(--fuente-Ubuntu);
    font-weight: 500;
    font-size: 20px;
    color: var(--color-celeste);
    position: relative; }
    section.footer-contacto h3::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 3px;
      border-radius: 10px;
      background-color: var(--color-verde);
      top: 50%;
      left: -20px;
      transform: translateY(-50%); }
  section.footer-contacto .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-bottom: 30px; }
    section.footer-contacto .flex p {
      padding-top: 20px; }
    section.footer-contacto .flex .oficina {
      width: 700px; }
    section.footer-contacto .flex .info {
      display: flex;
      justify-content: space-between; }
    section.footer-contacto .flex .redes a {
      margin: 0 15px;
      text-decoration: none; }
      section.footer-contacto .flex .redes a img {
        transition: 0.2s linear; }
      section.footer-contacto .flex .redes a:hover img {
        transform: translateY(-5px); }
    section.footer-contacto .flex .redes a:first-child {
      margin-left: 0; }
    section.footer-contacto .flex .redes a:last-child {
      margin-right: 0; }
  section.footer-contacto .pie {
    display: flex;
    border-top: 1px solid var(--color-celeste); }
    section.footer-contacto .pie .content {
      display: flex;
      justify-content: space-between;
      padding: 10px 0; }
      section.footer-contacto .pie .content p {
        font-size: 16px;
        color: var(--color-celeste); }
      section.footer-contacto .pie .content .creditos p {
        display: inline-block; }
      section.footer-contacto .pie .content .creditos img.corazon {
        width: 12px;
        margin-left: 2px; }
      section.footer-contacto .pie .content .creditos a {
        margin-left: 2px; }
        section.footer-contacto .pie .content .creditos a img {
          width: 55px; }

section.main-article {
  padding-bottom: 70px; }
  section.main-article .content {
    padding-top: 241.39px;
    display: flex; }
    section.main-article .content .part1 {
      width: 50%;
      padding-right: 40px; }
      section.main-article .content .part1 img {
        width: 100%;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    section.main-article .content .part2 {
      width: 50%;
      padding-left: 40px; }
      section.main-article .content .part2 .category {
        display: flex;
        justify-content: space-between; }
        section.main-article .content .part2 .category span {
          padding: 10px 19px;
          border-radius: 20px;
          border: 1px solid var(--color-celeste);
          font-family: var(--fuente-Ubuntu);
          font-weight: 500;
          font-size: 20px;
          color: var(--color-celeste); }
      section.main-article .content .part2 h2 {
        padding-top: 50px; }
  section.main-article .content2 {
    display: flex;
    padding-top: 100px; }
    section.main-article .content2 .part1 {
      width: 17%; }
      section.main-article .content2 .part1 .redes {
        background-color: #D5EBF4;
        padding: 18px 9px;
        max-width: 113px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
        section.main-article .content2 .part1 .redes p {
          color: var(--color-celeste); }
        section.main-article .content2 .part1 .redes img {
          margin: 20px 0;
          transition: 0.2s linear; }
        section.main-article .content2 .part1 .redes img:last-child {
          margin-bottom: 0; }
        section.main-article .content2 .part1 .redes img:hover {
          transform: translateY(-5px); }
    section.main-article .content2 .part2 {
      width: 83%; }
      section.main-article .content2 .part2 p {
        padding-bottom: 35px; }

section.blog {
  height: auto;
  padding-bottom: 70px; }
  section.blog .fondo {
    top: -350px; }
  section.blog .content {
    padding-top: 241.39px; }
    section.blog .content h1 {
      font-family: var(--fuente-Exo);
      font-weight: 700;
      font-size: 60px;
      color: var(--color-celeste);
      text-align: center; }
    section.blog .content p {
      text-align: center; }
    section.blog .content .categorias {
      padding-top: 40px;
      padding-bottom: 140px; }
      section.blog .content .categorias ul {
        list-style: none;
        display: flex;
        justify-content: center; }
        section.blog .content .categorias ul li {
          margin: 0 8px;
          padding: 10px 0;
          display: inline-block; }
          section.blog .content .categorias ul li a {
            padding: 10px 22px;
            background-color: transparent;
            text-decoration: none;
            color: var(--color-celeste);
            font-family: var(--fuente-Ubuntu);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            border-radius: 20px;
            border: 1px solid var(--color-celeste);
            transition: 0.2s linear; }
            section.blog .content .categorias ul li a:hover {
              background-color: var(--color-celeste);
              color: #fff; }
          section.blog .content .categorias ul li a.select {
            background-color: var(--color-celeste);
            color: #fff; }
    section.blog .content .destaado {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 58px;
      padding-bottom: 50px; }
    section.blog .content .items-category {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 58px;
      padding-bottom: 50px; }
    section.blog .content .item {
      transition: transform 300ms ease 0ms;
      border-radius: 10px; }
      section.blog .content .item a {
        text-decoration: none; }
      section.blog .content .item:hover {
        transform: scale(0.92); }
      section.blog .content .item .img {
        position: relative;
        display: flex; }
        section.blog .content .item .img img {
          position: initial;
          top: initial;
          left: initial;
          width: 100%;
          z-index: initial;
          border-radius: 10px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
        section.blog .content .item .img .filtro {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 40%;
          background: linear-gradient(181.04deg, rgba(0, 0, 0, 0) 32.29%, rgba(0, 0, 0, 0.4) 99.11%);
          border-radius: 10px;
          z-index: 1; }
        section.blog .content .item .img span {
          position: absolute;
          right: 17px;
          bottom: 19px;
          color: #fff;
          padding: 10px 18px;
          border: 1px solid #fff;
          border-radius: 20px;
          font-family: var(--fuente-Ubuntu);
          font-weight: 500;
          font-size: 20px;
          z-index: 2; }
      section.blog .content .item p {
        text-align: start;
        padding: 15px 0; }
      section.blog .content .item h3 {
        font-family: var(--fuente-Exo);
        font-weight: 700;
        font-size: 25px;
        color: var(--color-celeste); }
    section.blog .content .paginacion ul {
      list-style: none;
      display: flex;
      justify-content: center; }
      section.blog .content .paginacion ul li {
        display: inline-block;
        padding: 0 20px; }
        section.blog .content .paginacion ul li a {
          text-decoration: none;
          color: var(--color-celeste);
          font-family: var(--fuente-Exo);
          font-weight: 400;
          font-size: 25px;
          padding: 0 5px; }
      section.blog .content .paginacion ul li.select a {
        text-decoration: initial;
        border-bottom: 3px solid var(--color-celeste); }
