@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

:root {
  --fuente-barlow: 'Barlow', sans-serif;
  --fuente-prompt: 'Prompt', sans-serif;
  --color-morado: #3A2A68;
  --color-morado-claro: #49558C;
  --color-verde: #4DE7DB;
  /*slider en nosotros*/
  --marquee-width: 100%;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 1;
  --marquee-element-width: calc( var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 15s);
  /*end slider en nosotros*/
  /*slider de clientes en home*/
  --marquee-width2: 100%;
  --marquee-heigh2t: 20vh;
  --marquee-elements-displayed2: 3.5;
  --marquee-element-width2: calc( var(--marquee-width2) / var(--marquee-elements-displayed2));
  --marquee-animation-duration2: calc(var(--marquee-elements2) * 5s);
  /*end slider de clientes en home*/ }

.servicios-item a:hover, .item-servicios a:hover {
  cursor: url(../img/hover-mouse-green.png) 52 52, pointer; }

.container {
  width: 85%;
  max-width: 1430px;
  margin: 0 auto; }

main {
  overflow: hidden; }

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 43px 0;
  z-index: 10;
  transition: 0.3s ease; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav .menu {
      display: flex; }
      header nav .menu ul {
        list-style: none; }
        header nav .menu ul li {
          display: inline-block;
          padding: 0 26px;
          font-family: var(--fuente-prompt);
          font-weight: 500;
          font-size: 20px;
          line-height: 30px; }
          header nav .menu ul li a {
            text-decoration: none;
            color: #fff; }
        header nav .menu ul li.select a {
          color: var(--color-verde); }
        header nav .menu ul li.contacto {
          padding-right: 0; }
          header nav .menu ul li.contacto a {
            border: 1px solid var(--color-verde);
            border-bottom: 4px solid var(--color-verde);
            padding: 11px 38px;
            color: var(--color-verde);
            display: flex;
            align-items: center; }
            header nav .menu ul li.contacto a img {
              margin-left: 5px; }
            header nav .menu ul li.contacto a img:nth-child(2) {
              display: none; }
      header nav .menu .redes {
        margin-right: 30px;
        display: flex;
        align-items: center; }
        header nav .menu .redes a {
          margin: 0 10px;
          height: 26px; }

header.sticky {
  padding: 25px 0; }
  header.sticky nav .menu ul li:nth-child(4) a {
    color: var(--color-morado);
    border: 2px solid var(--color-morado);
    border-bottom: 4px solid var(--color-morado); }
    header.sticky nav .menu ul li:nth-child(4) a img:nth-child(1) {
      display: none; }
    header.sticky nav .menu ul li:nth-child(4) a img:nth-child(2) {
      display: block; }

header.sticky::before {
  transform: translateY(0%); }

header::before {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 28px;
  background-position-y: 30px;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 96px;
  width: 100%;
  background-color: rgba(75, 166, 184, 0.9);
  z-index: -2;
  transition: transform 0.5s ease;
  transform: translateY(-100%); }

.switch {
  transform: rotate(180deg); }
  .switch input[type=checkbox] {
    appearance: none;
    height: 29px;
    width: 72px;
    background-color: #fff;
    position: relative;
    border-radius: .2em;
    cursor: pointer;
    border-radius: 10px; }
  .switch input[type=checkbox]::before {
    content: '';
    display: block;
    height: 23px;
    width: 33px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(2.3em/2 + .3em);
    background-color: var(--color-verde);
    border-radius: .2em;
    transition: .3s ease;
    border-radius: 8px; }
  .switch input[type=checkbox]:checked::before {
    background-color: var(--color-morado);
    left: calc(100% - (2.3em/2 + .3em)); }

a.whatsapp {
  position: fixed;
  right: 100px;
  bottom: 62px;
  z-index: 10; }

section.home {
  position: relative;
  overflow: hidden;
  height: 1350px; }
  section.home .filtro {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(75, 153, 177, 0.62) 0%, rgba(77, 231, 219, 0.62) 0.01%, rgba(77, 231, 219, 0) 126.83%);
    position: absolute;
    z-index: -1; }
  section.home .filtro1 {
    width: 100%;
    height: 25%;
    z-index: 1;
    background: linear-gradient(180deg, #4B99B1 0%, rgba(75, 153, 177, 0) 87.44%);
    position: absolute; }
  section.home .home-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -2; }
  section.home .container {
    height: 100%; }
  section.home .content {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 270px;
    max-width: 855px; }
    section.home .content img {
      position: absolute;
      top: 13%;
      right: 0;
      filter: drop-shadow(36px 4px 70px rgba(53, 130, 146, 0.47)); }
    section.home .content h1 {
      font-family: var(--fuente-barlow);
      font-size: 90px;
      font-weight: 900;
      letter-spacing: 0.05em;
      color: #fff; }
      section.home .content h1 span {
        color: var(--color-morado); }
    section.home .content .slider-servicios-home {
      padding-top: 10px; }
      section.home .content .slider-servicios-home a {
        text-decoration: none;
        color: var(--color-morado);
        font-family: var(--fuente-barlow);
        font-size: 40px;
        font-weight: 700; }
      section.home .content .slider-servicios-home .owl-item {
        width: auto !important;
        margin-right: 0 !important; }
        section.home .content .slider-servicios-home .owl-item .item {
          padding: 0 30px;
          position: relative; }
          section.home .content .slider-servicios-home .owl-item .item::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 5px;
            right: -7px;
            top: 50%;
            background-color: var(--color-morado); }

section.experiencias {
  padding-bottom: 70px; }
  section.experiencias h2 {
    font-family: var(--fuente-barlow);
    font-weight: 500;
    font-size: 70px;
    color: var(--color-morado); }
    section.experiencias h2 span {
      color: var(--color-morado);
      font-weight: 900; }
  section.experiencias p {
    padding: 28px 0;
    padding-bottom: 15px;
    font-family: var(--fuente-prompt);
    font-weight: 400;
    font-size: 25px;
    color: var(--color-morado); }
  section.experiencias .info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.experiencias .info .card-info h3 {
      font-family: var(--fuente-barlow);
      font-weight: 900;
      font-size: 120px;
      color: var(--color-morado); }
      section.experiencias .info .card-info h3 span {
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 2.5px var(--color-morado); }
    section.experiencias .info .card-info h4 {
      color: var(--color-morado);
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 35px;
      text-align: center; }

section.servicios {
  padding: 70px 0; }
  section.servicios h2 {
    font-family: var(--fuente-barlow);
    font-weight: 500;
    font-size: 70px;
    color: var(--color-morado);
    margin-bottom: 35px; }
    section.servicios h2 span {
      font-weight: 900;
      color: var(--color-morado); }
  section.servicios p {
    font-family: var(--fuente-barlow);
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #fff;
    margin: 25px 0;
    margin-bottom: 35px; }
  section.servicios .content {
    display: flex;
    position: relative;
    align-items: center; }
  section.servicios .part1 {
    width: 35%;
    transform: translateY(-115px); }
    section.servicios .part1 .container {
      margin-right: 0;
      width: 65%; }
    section.servicios .part1 a {
      text-decoration: none;
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 20px;
      padding: 11px 25px;
      border: 1px solid var(--color-morado);
      border-bottom: 4px solid var(--color-morado);
      color: var(--color-morado);
      display: flex;
      align-items: center;
      width: fit-content; }
      section.servicios .part1 a img {
        margin-left: 5px; }
  section.servicios .part2 {
    width: 65%; }
    section.servicios .part2 .item-servicios {
      border-radius: 20px;
      margin: 0 30px; }
      section.servicios .part2 .item-servicios a {
        text-decoration: none; }
      section.servicios .part2 .item-servicios img {
        width: 100%;
        border-radius: 20px; }
      section.servicios .part2 .item-servicios .img {
        position: relative; }
      section.servicios .part2 .item-servicios .filtro {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65%;
        background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.58) 99.46%);
        border-radius: 0px 0px 20px 20px; }
      section.servicios .part2 .item-servicios p {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 20px 0;
        padding-left: 43px; }
        section.servicios .part2 .item-servicios p::before {
          content: '';
          background-image: url(../icons/flecha-verde2.svg);
          width: 16px;
          height: 16px;
          font-size: 20px;
          position: absolute;
          background-size: 100%;
          background-repeat: no-repeat;
          left: 16px;
          top: 34.5px; }
    section.servicios .part2 .slick-slider {
      position: initial; }
    section.servicios .part2 .slick-prev {
      left: 12vw;
      background-image: url(../icons/flecha-izq.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 54px;
      height: 63px; }
    section.servicios .part2 .slick-next {
      left: 16vw;
      background-image: url(../icons/flecha-de.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 54px;
      height: 63px; }
    section.servicios .part2 .slick-prev:before, section.servicios .part2 .slick-next:before {
      display: none; }
    section.servicios .part2 .slick-prev, section.servicios .part2 .slick-next {
      top: 66%; }
    section.servicios .part2 .slick-arrow.slick-disabled {
      opacity: 0.5; }

section.proyectos {
  padding: 70px 0;
  padding-bottom: 140px; }
  section.proyectos h2 {
    color: var(--color-morado);
    font-family: var(--fuente-barlow);
    font-weight: 500;
    font-size: 70px; }
    section.proyectos h2 span {
      color: var(--color-morado);
      font-weight: 900; }
  section.proyectos .slider-proyectos {
    margin: 73px 0; }
    section.proyectos .slider-proyectos .item-proyectos {
      transition: all 300ms ease;
      position: relative;
      border-radius: 20px;
      margin: 0 50px;
      border-radius: 20px; }
      section.proyectos .slider-proyectos .item-proyectos .filtro {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(58, 42, 104, 0.6);
        z-index: 2;
        border-radius: 20px; }
      section.proyectos .slider-proyectos .item-proyectos .filtro1 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;
        border-radius: 20px;
        background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.64) 99.46%); }
      section.proyectos .slider-proyectos .item-proyectos img {
        width: 100%;
        border-radius: 20px; }
      section.proyectos .slider-proyectos .item-proyectos .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 26px 50px;
        border-radius: 20px; }
        section.proyectos .slider-proyectos .item-proyectos .info h4 {
          font-family: var(--fuente-barlow);
          font-weight: 800;
          font-size: 35px;
          color: #fff;
          position: relative; }
          section.proyectos .slider-proyectos .item-proyectos .info h4::before {
            content: '';
            background-image: url(../icons/flecha-verde2.svg);
            width: 17.5px;
            height: 17.5px;
            font-size: 20px;
            position: absolute;
            background-size: 100%;
            background-repeat: no-repeat;
            left: -24px;
            top: 50%;
            transform: translateY(-40%); }
        section.proyectos .slider-proyectos .item-proyectos .info p {
          font-family: var(--fuente-barlow);
          font-weight: 500;
          font-size: 30px;
          color: #fff; }
    section.proyectos .slider-proyectos .slick-list {
      overflow: visible; }
    section.proyectos .slider-proyectos .slick-center {
      transform: scale(1.2); }
      section.proyectos .slider-proyectos .slick-center .filtro {
        background: none; }
    section.proyectos .slider-proyectos .slick-prev {
      left: initial;
      right: 305px;
      background-image: url(../icons/flecha-izq.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 54px;
      height: 63px; }
    section.proyectos .slider-proyectos .slick-next {
      right: 235px;
      background-image: url(../icons/flecha-de.svg);
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      width: 54px;
      height: 63px; }
    section.proyectos .slider-proyectos .slick-prev:before, section.proyectos .slider-proyectos .slick-next:before {
      display: none; }
    section.proyectos .slider-proyectos .slick-prev, section.proyectos .slider-proyectos .slick-next {
      top: -123px; }
  section.proyectos .btn {
    display: flex;
    justify-content: center; }
    section.proyectos .btn a {
      margin-top: 15px;
      padding: 11px 17px;
      color: var(--color-morado);
      text-decoration: none;
      display: flex;
      align-items: center;
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 20px;
      border: 1px solid var(--color-morado);
      border-bottom: 4px solid var(--color-morado); }
      section.proyectos .btn a img {
        padding-left: 19px; }

section.clientes {
  padding: 140px 0;
  background-color: var(--color-morado); }
  section.clientes .content {
    display: flex;
    position: relative; }
    section.clientes .content .part1 {
      width: 35%; }
      section.clientes .content .part1 .container {
        margin-right: 0;
        width: 65%; }
    section.clientes .content .part2 {
      width: 65%; }
  section.clientes h2 {
    font-family: var(--fuente-barlow);
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px; }
    section.clientes h2 span {
      font-weight: 900; }

.sliderClientes {
  height: 100%;
  display: flex;
  align-items: center; }

.marquee2 {
  width: var(--marquee-width2);
  color: #eee;
  overflow: hidden;
  position: relative; }

.marquee-content2 {
  list-style: none;
  display: flex;
  align-items: flex-end;
  animation: scrolling2 var(--marquee-animation-duration2) linear infinite; }
  .marquee-content2 li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width2);
    white-space: nowrap; }

@keyframes scrolling2 {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width2) * var(--marquee-elements2))); } }

footer {
  padding-top: 70px;
  color: var(--color-morado); }
  footer .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    footer .content p {
      padding-bottom: 10px; }
    footer .content .redes a {
      margin: 0 5px; }
    footer .content .redes a:first-child {
      margin-left: 0; }
    footer .content p {
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 18px; }
    footer .content div {
      position: relative; }
      footer .content div::before {
        content: '';
        position: absolute;
        width: 19px;
        height: 3px;
        top: -25px;
        background-color: var(--color-verde); }
  footer .pie {
    position: relative;
    display: flex;
    justify-content: space-between; }
    footer .pie::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--color-verde); }
    footer .pie p {
      padding-top: 10px;
      font-family: var(--fuente-prompt);
      font-weight: 400;
      font-size: 16px; }

section.interna {
  position: relative;
  overflow: hidden; }

.interna-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -2; }

.content-title {
  padding: 70px 0;
  padding-top: 244px;
  position: relative;
  overflow: hidden; }
  .content-title .container {
    width: 57.5%;
    position: relative;
    z-index: 2; }
  .content-title h1 {
    font-family: var(--fuente-barlow);
    font-weight: 900;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff; }
    .content-title h1 span {
      color: var(--color-morado); }
  .content-title p {
    margin-top: 30px;
    font-family: var(--fuente-prompt);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: var(--color-morado); }

.mision-vision {
  padding: 70px 0;
  padding-bottom: 140px; }
  .mision-vision .content {
    display: flex;
    align-items: center; }
  .mision-vision .part1 {
    width: 50%; }
    .mision-vision .part1 .content-img {
      position: relative;
      width: fit-content;
      border-radius: 20px;
      display: flex; }
      .mision-vision .part1 .content-img .filtro {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        border-radius: 20px;
        z-index: 2; }
    .mision-vision .part1 img {
      border-radius: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .mision-vision .part2 {
    width: 50%; }
    .mision-vision .part2 h3 {
      font-family: var(--fuente-barlow);
      font-weight: 900;
      font-size: 70px;
      color: var(--color-morado); }
    .mision-vision .part2 div:nth-child(2) {
      margin-top: 50px; }
    .mision-vision .part2 p {
      margin-top: 10px;
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 25px;
      color: #6C6B6F; }

section.valores {
  padding: 122px 0;
  padding-bottom: 136px;
  background-color: var(--color-morado); }
  section.valores h2 {
    font-family: var(--fuente-barlow);
    font-weight: 500;
    font-size: 70px;
    color: #fff;
    text-align: center; }
    section.valores h2 span {
      font-weight: 900; }
  section.valores .content-valores {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    section.valores .content-valores div {
      display: flex;
      align-items: center;
      flex-direction: column; }
      section.valores .content-valores div p {
        text-align: center;
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 35px;
        color: #fff; }

.marquee {
  width: var(--marquee-width);
  overflow: hidden;
  position: relative;
  overflow: hidden;
  padding: 118px 0;
  padding-bottom: 20px; }

.marquee-content {
  font-family: var(--fuente-barlow);
  font-weight: 900;
  font-size: 90px;
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  transition: 0.3s ease; }
  .marquee-content:hover {
    -webkit-text-stroke: 3px var(--color-rojo); }
  .marquee-content li {
    line-height: 100px;
    white-space: nowrap;
    color: #3A2A68;
    margin-right: 15px;
    letter-spacing: 1px;
    cursor: default; }

@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); } }

.servicios-grid {
  padding: 55px 0;
  padding-bottom: 140px; }
  .servicios-grid .servicios-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; }
  .servicios-grid .servicios-item {
    position: relative;
    border-radius: 20px;
    filter: drop-shadow(8px 14px 15px rgba(67, 148, 168, 0.4)); }
    .servicios-grid .servicios-item .filtro {
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 0;
      background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.64) 99.46%);
      border-radius: 20px; }
    .servicios-grid .servicios-item img {
      width: 100%;
      height: 100%;
      border-radius: 20px; }
    .servicios-grid .servicios-item .info {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 24px 60px; }
    .servicios-grid .servicios-item p {
      font-family: var(--fuente-barlow);
      font-weight: 500;
      font-size: 35px;
      color: #fff;
      position: relative; }
      .servicios-grid .servicios-item p::before {
        content: '';
        background-image: url(../icons/flecha-verde2.svg);
        width: 17.5px;
        height: 100%;
        font-size: 20px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        left: -31px;
        top: 14.5px; }

section.tarj-contacto {
  padding: 140px 0;
  background: var(--color-morado); }
  section.tarj-contacto .content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    section.tarj-contacto .content h2 {
      font-family: var(--fuente-barlow);
      font-weight: 500;
      font-size: 70px;
      color: #fff;
      width: 700px;
      line-height: 70px; }
      section.tarj-contacto .content h2 span {
        font-weight: 900; }
    section.tarj-contacto .content a {
      padding: 11px 32px;
      display: flex;
      align-items: center;
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 20px;
      color: var(--color-verde);
      text-decoration: none;
      display: flex;
      align-items: center;
      border: 1px solid var(--color-verde);
      border-bottom: 4px solid var(--color-verde); }
      section.tarj-contacto .content a img {
        padding-left: 10px; }

.services-info {
  padding: 70px 0;
  padding-bottom: 140px; }
  .services-info .info {
    display: flex; }
    .services-info .info .part1 {
      padding-right: 80px;
      width: 35.7%; }
      .services-info .info .part1 .img {
        position: relative; }
        .services-info .info .part1 .img .filtro {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 65%;
          background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
          border-radius: 0px 0px 20px 20px; }
        .services-info .info .part1 .img img {
          width: 100%;
          border-radius: 20px; }
    .services-info .info .part2 {
      width: 64.3%; }
      .services-info .info .part2 .content {
        padding-left: 40px; }
      .services-info .info .part2 h3 {
        font-family: var(--fuente-barlow);
        font-weight: 900;
        font-size: 40px;
        color: var(--color-morado);
        position: relative;
        line-height: 37px; }
        .services-info .info .part2 h3::before {
          content: '';
          background-image: url(../icons/viñeta.svg);
          width: 17.5px;
          height: 100%;
          font-size: 20px;
          position: absolute;
          background-size: 100%;
          background-repeat: no-repeat;
          left: -39px;
          top: 50%;
          transform: translateY(-8.75px); }
      .services-info .info .part2 .parrafo {
        margin-top: 32px; }
      .services-info .info .part2 .parrafo:first-child {
        margin-top: 0; }
      .services-info .info .part2 p {
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 25px;
        color: var(--color-morado);
        padding-top: 20px; }
      .services-info .info .part2 .btn {
        display: flex;
        justify-content: flex-start; }
        .services-info .info .part2 .btn a {
          margin-top: 50px;
          padding: 11px 17px;
          text-decoration: none;
          color: var(--color-morado);
          display: flex;
          align-items: center;
          font-family: var(--fuente-prompt);
          font-weight: 500;
          font-size: 20px;
          border: 1px solid var(--color-morado);
          border-bottom: 4px solid var(--color-morado); }
          .services-info .info .part2 .btn a img {
            padding-left: 10px; }

.proyectos-list {
  padding: 53px 0;
  padding-bottom: 140px; }
  .proyectos-list .category {
    padding-bottom: 50px; }
    .proyectos-list .category ul {
      list-style: none;
      border: solid 2px var(--color-morado);
      border-radius: 10px;
      width: fit-content;
      margin: 0 auto; }
      .proyectos-list .category ul li {
        display: inline-block;
        margin: 0 -2px; }
        .proyectos-list .category ul li a {
          text-decoration: none;
          color: var(--color-morado);
          transition: 0.2s linear;
          font-family: var(--fuente-prompt);
          font-weight: 500;
          font-size: 20px;
          padding: 11px 21px;
          display: block;
          border-left: 1px solid var(--color-morado-claro);
          transition: 0.2s linear; }
      .proyectos-list .category ul li:first-child a {
        border-left: none;
        border-radius: 10px 0 0 10px; }
      .proyectos-list .category ul li:last-child a {
        border-radius: 0 10px 10px 0; }
      .proyectos-list .category ul li a.select, .proyectos-list .category ul li a:hover {
        color: var(--color-verde);
        background-color: var(--color-morado); }
  .proyectos-list .items-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; }
    .proyectos-list .items-category .item-category {
      transition: all 300ms ease;
      position: relative;
      border-radius: 20px;
      border-radius: 20px;
      cursor: pointer; }
      .proyectos-list .items-category .item-category .info-popup {
        display: none; }
      .proyectos-list .items-category .item-category .filtro1 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;
        border-radius: 20px;
        background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.85) 99.46%);
        z-index: 1; }
      .proyectos-list .items-category .item-category img {
        width: 100%;
        border-radius: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      .proyectos-list .items-category .item-category .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 31px 63px;
        border-radius: 20px;
        z-index: 2; }
        .proyectos-list .items-category .item-category .info h4 {
          font-family: var(--fuente-barlow);
          font-weight: 800;
          font-size: 35px;
          color: #fff;
          position: relative; }
          .proyectos-list .items-category .item-category .info h4::before {
            content: '';
            background-image: url(../icons/viñeta.svg);
            width: 17.5px;
            height: 18px;
            font-size: 20px;
            position: absolute;
            background-size: 100%;
            background-repeat: no-repeat;
            left: -24px;
            top: 50%;
            transform: translateY(-8.75px); }
        .proyectos-list .items-category .item-category .info p {
          font-family: var(--fuente-barlow);
          font-weight: 500;
          font-size: 30px;
          color: #fff; }
  .proyectos-list .btn {
    display: flex;
    justify-content: center; }
    .proyectos-list .btn a {
      margin-top: 50px;
      padding: 11px 17px;
      text-decoration: none;
      color: var(--color-morado);
      display: flex;
      align-items: center;
      font-family: var(--fuente-prompt);
      font-weight: 500;
      font-size: 20px;
      border: 1px solid var(--color-morado);
      border-bottom: 4px solid var(--color-morado);
      display: flex;
      align-items: center; }
      .proyectos-list .btn a img {
        padding-left: 10px; }

.modulo-mas {
  display: none; }

section.item-popup {
  background: linear-gradient(290.57deg, #4CBBC3 5.73%, #4A83A5 107.57%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
  z-index: 11;
  padding: 25px 0; }
  section.item-popup .top {
    display: flex;
    justify-content: flex-end; }
    section.item-popup .top button {
      border: none;
      background-color: transparent;
      font-family: var(--fuente-barlow);
      font-weight: 900;
      font-size: 72px;
      color: var(--color-morado);
      cursor: pointer;
      z-index: 5; }
  section.item-popup .content {
    display: flex;
    justify-content: center; }
    section.item-popup .content .info {
      width: 68%;
      transform: translateY(-29px); }
      section.item-popup .content .info .text {
        padding-left: 38px; }
    section.item-popup .content h4 {
      font-family: var(--fuente-barlow);
      font-weight: 800;
      font-size: 35px;
      color: #fff;
      position: relative; }
      section.item-popup .content h4::before {
        content: '';
        background-image: url(../icons/viñeta.svg);
        width: 17.5px;
        height: 18px;
        font-size: 20px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        left: -24px;
        top: 50%;
        transform: translateY(-50%); }
    section.item-popup .content p {
      font-family: var(--fuente-barlow);
      font-weight: 500;
      font-size: 30px;
      color: #fff;
      padding-top: 8px; }
    section.item-popup .content .slider-fotos {
      margin-top: 30px; }
      section.item-popup .content .slider-fotos .item-foto {
        margin: 0 15px; }
        section.item-popup .content .slider-fotos .item-foto img {
          width: 100%;
          border-radius: 20px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          margin-bottom: 10px; }
      section.item-popup .content .slider-fotos .slick-prev {
        background-image: url(../icons/flecha-izq-blanco.svg);
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        width: 54px;
        height: 63px; }
      section.item-popup .content .slider-fotos .slick-next {
        background-image: url(../icons/flecha-de-blanco.svg);
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        width: 54px;
        height: 63px; }
      section.item-popup .content .slider-fotos .slick-prev:before, section.item-popup .content .slider-fotos .slick-next:before {
        display: none; }
      section.item-popup .content .slider-fotos .slick-prev {
        left: -91px; }
      section.item-popup .content .slider-fotos .slick-next {
        right: -91px; }
      section.item-popup .content .slider-fotos .slick-prev.slick-disabled, section.item-popup .content .slider-fotos .slick-next.slick-disabled {
        opacity: 0.5; }
    section.item-popup .content .parrafo-popup {
      padding-top: 15px;
      font-family: var(--fuente-barlow);
      font-weight: 400;
      font-size: 25px;
      line-height: 32px; }

section.item-popup.open {
  visibility: visible; }

section.contacto-page {
  background: linear-gradient(180deg, #4BA6B8 0%, #4DEFDF 120%);
  height: 100vh;
  padding: 80px 0;
  position: relative; }
  section.contacto-page .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    section.contacto-page .fondo img {
      min-width: 100%;
      min-height: 100%;
      top: 0%;
      left: 50%;
      transform: translate(-50%); }
  section.contacto-page .container {
    height: 100%; }
    section.contacto-page .container .top {
      display: flex;
      justify-content: flex-end; }
      section.contacto-page .container .top a {
        text-decoration: none;
        color: #fff;
        z-index: 5;
        font-family: var(--fuente-barlow);
        font-weight: 900;
        font-size: 70px; }
    section.contacto-page .container .content {
      display: flex;
      height: 100%;
      align-items: center;
      transform: translateY(-85px); }
      section.contacto-page .container .content .part1 {
        width: 100%; }
        section.contacto-page .container .content .part1 h1 {
          font-family: var(--fuente-barlow);
          font-weight: 700;
          font-size: 40px;
          color: var(--color-morado); }
          section.contacto-page .container .content .part1 h1 span {
            color: var(--color-morado);
            font-weight: 900; }
        section.contacto-page .container .content .part1 .formulario-contacto {
          display: flex; }
        section.contacto-page .container .content .part1 form {
          margin-top: 43px;
          width: 50%;
          margin-right: 40px; }
          section.contacto-page .container .content .part1 form fieldset {
            border: none; }
            section.contacto-page .container .content .part1 form fieldset .form-group {
              width: 100%;
              position: relative; }
              section.contacto-page .container .content .part1 form fieldset .form-group input {
                font-family: var(--fuente-barlow);
                margin-bottom: 30px;
                height: 64px;
                border: none;
                font-size: 20px;
                width: 100%;
                color: var(--color-morado);
                background: transparent;
                padding: 0 20px;
                padding-top: 8px;
                border: 2px solid var(--color-morado); }
                section.contacto-page .container .content .part1 form fieldset .form-group input:focus {
                  outline-style: none; }
              section.contacto-page .container .content .part1 form fieldset .form-group .form-label {
                position: absolute;
                left: 20px;
                top: 20px;
                color: var(--color-morado);
                font-family: var(--fuente-barlow);
                font-size: 18px;
                font-weight: 400;
                cursor: text;
                transition: 0.1s linear;
                z-index: 1; }
              section.contacto-page .container .content .part1 form fieldset .form-group input:valid ~ label, section.contacto-page .container .content .part1 form fieldset .form-group input:focus ~ label, section.contacto-page .container .content .part1 form fieldset .form-group textarea:valid ~ label, section.contacto-page .container .content .part1 form fieldset .form-group textarea:focus ~ label {
                font-size: 14px;
                left: 20px;
                top: 6px; }
              section.contacto-page .container .content .part1 form fieldset .form-group textarea {
                font-family: var(--fuente-barlow);
                margin-bottom: 50px;
                height: 155px;
                border: none;
                font-size: 20px;
                width: 100%;
                color: var(--color-morado);
                border: 2px solid var(--color-morado);
                background: transparent;
                padding: 0 20px;
                padding-top: 22px; }
                section.contacto-page .container .content .part1 form fieldset .form-group textarea:focus {
                  outline-style: none; }
          section.contacto-page .container .content .part1 form button {
            padding: 11px 32px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            background-color: transparent;
            color: var(--color-morado);
            border: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 1px solid var(--color-morado);
            border-bottom: 4px solid var(--color-morado); }
            section.contacto-page .container .content .part1 form button img {
              margin-left: 10px; }
        section.contacto-page .container .content .part1 .info {
          width: 50%;
          margin: 36px 0 70px 80px;
          display: flex;
          flex-direction: column; }
          section.contacto-page .container .content .part1 .info p {
            font-family: var(--fuente-prompt);
            font-weight: 400;
            font-size: 25px;
            color: var(--color-morado);
            position: relative;
            padding-bottom: 33px; }
            section.contacto-page .container .content .part1 .info p::before {
              content: '';
              background-image: url(../icons/flecha-morada.svg);
              width: 16px;
              height: 16px;
              font-size: 20px;
              position: absolute;
              background-size: 100%;
              background-repeat: no-repeat;
              left: -30px;
              top: 11px; }
          section.contacto-page .container .content .part1 .info div {
            position: relative; }
            section.contacto-page .container .content .part1 .info div p {
              padding-bottom: 10px; }
            section.contacto-page .container .content .part1 .info div a {
              margin: 0 7px; }
            section.contacto-page .container .content .part1 .info div a:first-child {
              margin-left: 0; }

section.thanks-page {
  height: 100vh;
  padding: 80px 0;
  position: relative; }
  section.thanks-page .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    section.thanks-page .fondo img {
      min-width: 100%;
      min-height: 100%;
      top: 0%;
      left: 50%;
      transform: translate(-50%); }
  section.thanks-page .container {
    height: 100%; }
    section.thanks-page .container .top {
      display: flex;
      justify-content: flex-end; }
      section.thanks-page .container .top a {
        text-decoration: none;
        color: #fff;
        z-index: 5;
        font-family: var(--fuente-barlow);
        font-weight: 900;
        font-size: 70px; }
    section.thanks-page .container .content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-95px); }
      section.thanks-page .container .content h1 {
        font-family: var(--fuente-barlow);
        font-weight: 900;
        font-size: 80px;
        color: var(--color-morado);
        position: relative; }
        section.thanks-page .container .content h1::before {
          content: '';
          background-image: url(../icons/flecha-morada.svg);
          width: 36.42px;
          height: 41px;
          font-size: 20px;
          position: absolute;
          background-size: 100%;
          background-repeat: no-repeat;
          left: -40px;
          top: 55%;
          transform: translateY(-50%); }
      section.thanks-page .container .content p {
        font-family: var(--fuente-barlow);
        font-weight: 900;
        font-size: 50px;
        color: var(--color-morado);
        padding-top: 11px; }
      section.thanks-page .container .content a {
        padding: 11px 32px;
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: transparent;
        margin-top: 40px;
        color: var(--color-morado);
        border: 1px solid var(--color-morado);
        border-bottom: 4px solid var(--color-morado);
        width: fit-content; }
        section.thanks-page .container .content a img {
          margin-left: 10px; }
