@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
  
:root {
    --fuente-barlow: 'Barlow', sans-serif;
    --fuente-prompt: 'Prompt', sans-serif;
    --color-morado: #3A2A68;
    --color-morado-claro: #49558C;
    --color-verde: #4DE7DB;
    /*slider en nosotros*/
    --marquee-width: 100%;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 1;
    --marquee-element-width: calc( var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 15s);
    /*end slider en nosotros*/

    /*slider de clientes en home*/
    --marquee-width2: 100%;
    --marquee-heigh2t: 20vh;
    --marquee-elements-displayed2: 3.5;
    --marquee-element-width2: calc( var(--marquee-width2) / var(--marquee-elements-displayed2));
    --marquee-animation-duration2: calc(var(--marquee-elements2) * 5s);
    /*end slider de clientes en home*/
}

.servicios-item a:hover, .item-servicios a:hover{
    cursor: url(../img/hover-mouse.png) 52 52, pointer;
}

.container {
    width: 85%;
    max-width: 1430px;
    margin: 0 auto;
}

main{
    overflow: hidden;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 43px 0;
    z-index: 10;
    transition: 0.3s ease;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu{
            display: flex;
            ul{
                list-style: none;
                padding-right: 50px;
                li{
                    display: inline-block;
                    padding: 0 40px;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                li:nth-child(4){
                    a{
                        border: 1px solid var(--color-morado);
                        border-bottom: 4px solid var(--color-morado);
                        border-radius: 10px;
                        padding: 11px 52px;
                        color: var(--color-morado);
                    }
                }
            }
        }
    }
}

header.sticky{
    padding: 25px 0;
    nav .menu ul li:nth-child(4) a{
        background-color: var(--color-morado);
        color: var(--color-verde);
        border: 2px solid var(--color-verde);
        border-bottom: 4px solid var(--color-verde);
    }
}

header.sticky::before {
    transform: translateY(0%);  
}

header::before {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 28px;
    background-position-y: 30px;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 96px;
    width: 100%;
    background-color: rgba(75, 166, 184, 0.9);;
    z-index: -2;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

.switch {
    transform: rotate(180deg);
    input[type=checkbox] {
        appearance: none;
        height: 29px;
        width: 72px;
        background-color: #fff;
        position: relative;
        border-radius: .2em;
        cursor: pointer;
    }
       
    input[type=checkbox]::before {
        content: '';
        display: block;
        height: 23px;
        width: 33px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: calc(2.3em/2 + .3em);
        background-color: var(--color-verde);
        border-radius: .2em;
        transition: .3s ease;
    }
       
    input[type=checkbox]:checked::before {
        background-color: var(--color-morado);
        left: calc(100% - (2.3em/2 + .3em));
    }
}  
   

a.whatsapp{
    position: fixed;
    right: 100px;
    bottom: 62px;
    z-index: 10;
}

section.home{
    position: relative;
    overflow: hidden;
    height: 100vh;
    .filtro{
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(75, 153, 177, 0.62) 0%, rgba(77, 231, 219, 0.62) 0.01%, rgba(77, 231, 219, 0) 126.83%);
        position: absolute;
        z-index: -1;
    }
    .filtro1{
        width: 100%;
        height: 25%;
        z-index: 1;
        background: linear-gradient(180deg, #4B99B1 0%, rgba(75, 153, 177, 0) 87.44%);
        position: absolute;
    }
    .home-bg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../img/home-fondo.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        z-index: -2;
    }
    .container{
        height: 100%;
    }
    .content{
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h1{
            font-family: var(--fuente-barlow);
            font-size: 90px;
            font-weight: 900;            
            letter-spacing: 0.05em;
            color: #fff;
            span{
                color: var(--color-morado);
            }
        }
        a{
            margin-top: 50px;
            padding: 11px 17px;
            background-color: var(--color-morado);
            text-decoration: none;
            color: var(--color-verde);
            display: flex;
            align-items: center;
            border-radius: 10px;
            font-family: var(--fuente-prompt);            
            font-weight: 500;
            font-size: 20px;
            box-shadow: 7px 7px 6px rgba(40, 29, 71, 0.51);
            img{
                padding-left: 19px;
            }
        }
    }
}

section.experiencias{
    padding: 80px 0;
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 70px;
        color: var(--color-morado-claro);
        text-align: center;
        span{
            color: var(--color-morado);
            font-weight: 900;
        }
    }
    .info{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        .card-info{
            h3{
                font-family: var(--fuente-barlow);                
                font-weight: 900;
                font-size: 120px;
                color: var(--color-verde);
                span{
                    -webkit-text-fill-color: #fff;
                    -webkit-text-stroke: 2.5px var(--color-verde);
                }
            }
            p{
                color: var(--color-morado);
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 35px;
                text-align: center;
            }
        }
    }
}

section.servicios{
    background: linear-gradient(180deg, #4DE7DB 0%, #4B99B1 100%);
    padding: 80px 0;
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 70px;
        color: var(--color-morado-claro);
        span{
            color: var(--color-morado);
        }
    }
    p{
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        color: #fff;
        margin: 25px 0;
        margin-bottom: 35px;
    }
    
    .content{
        display: flex;
        position: relative;
    }
    .part1{
        width: 35%;
        .container{
            margin-right: 0;
            width: 65%;
        }
        a{  
            text-decoration: none;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            padding: 11px 25px;
            border: 1px solid var(--color-morado);
            border-bottom: 4px solid var(--color-morado);
            border-radius: 10px;
            color: var(--color-morado);
        }
    }
    .part2{
        width: 65%;
        .item-servicios{
            border-radius: 20px;
            margin: 0 30px;
            filter: drop-shadow(14px 18px 15px #4394A8);
            a{
                text-decoration: none;
            }
            img{
                width: 100%;
                border-radius: 20px;
            }
            .img{
                position: relative;
            }
            .filtro{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 65%;
                background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
                border-radius: 0px 0px 20px 20px;
            }
            p{  
                padding-left: 30px;
                position: relative;
                &::before  {  
                    content: '';
                    background-image: url(../icons/viñeta.svg);
                    width: 17.5px;
                    height: 100%;
                    font-size: 20px;
                    position: absolute;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    left: 0px;
                    top: 8.5px;                    
                }
            }
        }
        .slick-slider{
            position: initial;
        }
        .slick-prev {
            left: 12vw;
            background-image: url(../icons/flecha-izq.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 71px;
            height: 71px;
        }
        .slick-next {
            left: 17vw;
            background-image: url(../icons/flecha-de.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 71px;
            height: 71px;
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-prev, .slick-next{
            top: 60%;
        }
    }
}

section.proyectos{
    padding: 100px 0;
    h2{
        color: var(--color-morado-claro);
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 70px;
        span{
            color: var(--color-morado);
            font-weight: 900;
        }
    }
    .slider-proyectos{
        margin: 80px 0;
        .item-proyectos{
            transition: all 300ms ease;
            position: relative;
            border-radius: 20px;
            margin: 0 50px;
            border-radius: 20px;
            .filtro{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba(58, 42, 104, 0.6);
                z-index: 2;
                border-radius: 20px;
            }
            .filtro1{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70%;
                border-radius: 20px;
                // z-index: -1;
                background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
            }
            img{
                width: 100%;
                border-radius: 20px;
                // z-index: -2;
            }
            .info{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 26px 50px;  
                border-radius: 20px;              
                h4{
                    font-family: var(--fuente-barlow);                    
                    font-weight: 800;
                    font-size: 30px;
                    color: #fff;
                    position: relative;
                    &::before{
                        content: '';
                        background-image: url(../icons/viñeta.svg);
                        width: 17.5px;
                        height: 100%;
                        font-size: 20px;
                        position: absolute;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        left: -24px;
                        top: 11.5px;
                    }
                }
                p{
                    font-family: var(--fuente-barlow);
                    font-weight: 500;
                    font-size: 20px;
                    color: #fff;
                }
                
            }
        }
        .slick-list {
            overflow: visible;
        }
        .slick-center{
            transform: scale(1.2);
            .filtro{
                background: none;
            }
        }
        .slick-prev {
            left: initial;
            right: 305px;
            background-image: url(../icons/flecha-izq-1.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 55px;
            height: 55px;
        }
        .slick-next {
            right: 235px;
            background-image: url(../icons/flecha-de-1.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 55px;
            height: 55px;
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-prev, .slick-next{
            top: -123px;
        }
    }
    .btn{
        display: flex;
        justify-content: center;
        a{
            margin-top: 50px;
            padding: 11px 17px;
            background-color: var(--color-morado);
            text-decoration: none;
            color: var(--color-verde);
            display: flex;
            align-items: center;
            border-radius: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            box-shadow: 7px 7px 6px rgba(40, 29, 71, 0.51);
            img{
                padding-left: 19px;
            }
        }
    }
}

section.clientes{
    padding: 80px 0;
    background: linear-gradient(180deg, #4DE7DB 0%, #4B99B1 100%);
    .content{
        display: flex;
        position: relative;
        .part1{
            width: 35%;
            .container {
                margin-right: 0;
                width: 65%;
            }
        } 
        .part2{
            width: 65%;
        }
    }
    h2{
        font-family: var(--fuente-barlow);
        color: var(--color-morado-claro);
        font-style: normal;
        font-weight: 500;
        font-size: 70px;
        span{
            color: var(--color-morado);
            font-weight: 900;
        }
    }
}

.sliderClientes{
    height: 100%;
    display: flex;
    align-items: center;
}

.marquee2 {
    width: var(--marquee-width2);
    color: #eee;
    overflow: hidden;
    position: relative;
}
.marquee-content2 {
    list-style: none;
    // height: 100%;
    display: flex;
    align-items: flex-end;
    animation: scrolling2 var(--marquee-animation-duration2) linear infinite;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        flex-shrink: 0;
        width: var(--marquee-element-width2);
        // font-size: calc(var(--marquee-height2)*3/4);
        white-space: nowrap; 
    }
  
}
  
@keyframes scrolling2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--marquee-element-width2) * var(--marquee-elements2))
      );
    }
}

footer{
    padding-top: 80px;
    color: var(--color-morado);
    .content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .redes{
            a{
                margin: 0 5px;
            }
            a:first-child{
                margin-left: 0;
            }
        }
        p{
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 18px;  
        }
        div{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 19px;
                height: 3px;
                top: -25px;
                background-color: var(--color-verde);
            }   
        }
    }
    .pie{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-verde);
        }
        display: flex;
        justify-content: space-between;
        p{            
            padding-top: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 400;
            font-size: 16px;
        }
    }
}

section.content-title{
    padding: 80px 0;
    padding-top: 240px;
    background: linear-gradient(180deg, #4BA6B8 0%, #4DE7DB 100%);
    position: relative;    
    overflow: hidden;
    img{
        position: absolute;
        left: 50%;
        top: 140px;
        // bottom: 0;
        transform: translateX(-50%);
    }
    .container{
        width: 57.5%;
        position: relative;
        z-index: 2;
    }
    h1{
        font-family: var(--fuente-barlow);        
        font-weight: 900;
        font-size: 90px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #fff;
        span{
            color: var(--color-morado);
        }
    }
    p{
        margin-top: 30px;
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 25px;
        text-align: center;
        color: var(--color-morado-claro);
        span{
            font-weight: 700;
            color: var(--color-morado);
        }
    }
}

section.mision-vision{
    padding: 80px 0;
    .content{
        display: flex;
        align-items: center;
    }
    .part1{
        width: 50%;
        .content-img{
            position: relative;
            width: fit-content;
            border-radius: 20px;
            display: flex;
            .filtro{
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                border-radius: 20px;
                z-index: 2;
                background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
            }
        }
        img{
            border-radius: 20px;
            filter: drop-shadow(14px 12px 15px rgba(67, 148, 168, 0.34));
        }
    }
    .part2{
        width: 50%;
        h3{
            font-family: var(--fuente-barlow);
            font-weight: 900;
            font-size: 70px;
        }
        div:nth-child(1){
            h3{
                color: var(--color-morado-claro);
            }
        }
        div:nth-child(2){
            margin-top: 60px;
            h3{
                color: var(--color-morado);
            }
        }
        p{
            margin-top: 15px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 25px;
            color: #6C6B6F;
        }
    }
}

section.valores{
    padding: 80px 0;
    background: linear-gradient(180deg, #4DE7DB 0%, #4B99B1 100%, #4BA6B8 100%);
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 70px;
        color: var(--color-morado-claro);
        text-align: center;
        span{
            font-weight: 900;
            color: var(--color-morado);
        }
    }
    .content-valores{
        padding-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            p{
                text-align: center;
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 35px;
                color: var(--color-morado);
            }
        }
    }
}

.marquee {
    width: var(--marquee-width);
    // background-color: #111;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    padding-bottom: 20px;
}
.marquee-content {
    font-family: var(--fuente-barlow);
    font-weight: 900;
    font-size: 90px;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    // -webkit-text-fill-color: #efefef;
    // -webkit-text-stroke: 2.5px black;  
    // color: var(--color-verde);
    transition: 0.3s ease;
    &:hover{
      -webkit-text-stroke: 3px var(--color-rojo);
    }
    li {
      line-height: 100px;
      white-space: nowrap;
      color: #4BA6B8;
      // margin: 0 15px;
      margin-right: 15px;
      letter-spacing: 1px;
      cursor: default;
      // text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
      //   2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000;
        
    }
  
}
  
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
      );
    }
}

section.servicios-grid{
    padding: 80px 0;
    .servicios-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 57px;
    }
    .servicios-item{
        position: relative;
        border-radius: 20px;
        filter: drop-shadow(8px 14px 15px rgba(67, 148, 168, 0.4));
        .filtro{
            position: absolute;
            width: 100%;
            height: 80%;
            bottom: 0;
            background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
            border-radius: 20px;
        }
        img{
            width: 100%;
            border-radius: 20px;
        }
        .info{
            position: absolute;
            bottom: 0;
            padding: 24px 60px;
        }
        p{            
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 35px;
            color: #fff;
            position: relative;
            &::before{
                content: '';
                background-image: url(../icons/viñeta.svg);
                width: 17.5px;
                height: 100%;
                font-size: 20px;
                position: absolute;
                background-size: 100%;
                background-repeat: no-repeat;
                left: -31px;
                top: 14.5px;
            }
        }
    }
}

section.tarj-contacto{
    padding: 80px 0;
    background: linear-gradient(180deg, #4DE7DB 0%, #4B99B1 100%);
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2{
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 70px;
            color: var(--color-morado-claro);
            width: 700px;
            span{
                font-weight: 900;
                color: var(--color-morado);
            }
        }
        a{
            padding: 11px 32px;
            display: flex;
            align-items: center;
            background-color: var(--color-morado);
            border-radius: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            color: var(--color-verde);
            img{
                padding-left: 19px;
            }
        }
    }
}

section.services-info{
    padding: 80px 0;
    .info{
        display: flex;
        .part1{
            padding-right: 80px;
            width: 35.7%;
            .img {
                position: relative;
                .filtro {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 65%;
                    background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
                    border-radius: 0px 0px 20px 20px;
                }
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }        
        .part2{            
            width: 64.3%;
            .content{
                padding-left: 40px;
            }
            h3{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 40px;
                color: var(--color-morado-claro);
                position: relative;
                margin-top: 30px;
                &::before {
                    content: '';
                    background-image: url(../icons/viñeta.svg);
                    width: 17.5px;
                    height: 100%;
                    font-size: 20px;
                    position: absolute;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    left: -39px;
                    top: 50%;
                    transform: translateY(-8.75px);
                }
            }
            h3:first-child{
                margin-top: 0;
            }
            p{
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 25px;
                color: #6C6B6F;   
                padding-top: 10px;             
            }
            .btn {
                display: flex;
                justify-content: flex-start;
                a {
                    margin-top: 50px;
                    padding: 11px 17px;
                    background-color: var(--color-morado);
                    text-decoration: none;
                    color: var(--color-verde);
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 20px;
                    box-shadow: 7px 7px 6px rgba(40, 29, 71, 0.51);
                    img {
                        padding-left: 19px;
                    }
                }
            }
        }
    }
    
}

section.proyectos-list{
    padding: 80px 0;
    .category{
        padding-bottom: 80px;
        ul{
            list-style: none;
            border: solid 2px var(--color-morado);
            border-radius: 10px;
            width: fit-content;
            margin: 0 auto;
            li{                
                display: inline-block;                
                margin: 0 -2px;
                a{
                    text-decoration: none;
                    color: var(--color-morado);
                    transition: 0.2s linear;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 20px;
                    padding: 11px 21px;
                    display: block;
                    border-left: 1px solid var(--color-morado-claro);
                    transition: 0.2s linear;
                }
            }
            li:first-child a{
                border-left: none;
                border-radius: 10px 0 0 10px;
            }
            li:last-child a{
                border-radius: 0 10px 10px 0;
            }
            li a.select,li a:hover{
                color: var(--color-verde);                    
                background-color: var(--color-morado);
            }
        }
    }

    .items-category{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 58px;
        column-gap: 58px;
        row-gap: 64px;
        .item-category{
            transition: all 300ms ease;
            position: relative;
            border-radius: 20px;
            border-radius: 20px;
            .filtro1{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70%;
                border-radius: 20px;
                background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
                z-index: 1;
            }
            img{
                width: 100%;
                border-radius: 20px;
                filter: drop-shadow(10px 10px 15px rgba(67, 148, 168, 0.4));
            }
            .info{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 31px 63px;
                border-radius: 20px;
                z-index: 2;
                h4 {
                    font-family: var(--fuente-barlow);
                    font-weight: 800;
                    font-size: 35px;
                    color: #fff;
                    position: relative;
                    &::before{
                        content: '';
                        background-image: url(../icons/viñeta.svg);
                        width: 17.5px;
                        height: 18px;
                        font-size: 20px;
                        position: absolute;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-8.75px);
                    }
                }
                p {
                    font-family: var(--fuente-barlow);
                    font-weight: 500;
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
    }
    
    .btn {
        display: flex;
        justify-content: center;
        a {
            margin-top: 80px;
            padding: 11px 17px;
            background-color: var(--color-morado);
            text-decoration: none;
            color: var(--color-verde);
            display: flex;
            align-items: center;
            border-radius: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            box-shadow: 7px 7px 6px rgba(40, 29, 71, 0.51);
            img {
                padding-left: 19px;
            }
        }
    }
}

section.item-popup{
    background: rgba(75, 166, 184, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
    z-index: 9;
    padding: 100px 0;
    .top{
        display: flex;
        justify-content: flex-end;
        button{
            border: none;
            background-color: transparent;
            font-family: var(--fuente-barlow);
            font-weight: 900;
            font-size: 72px;
            color: var(--color-morado);
            cursor: pointer;
            z-index: 5;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        .info{            
            width: 68%;
            transform: translateY(-29px);
            .text{
                padding-left: 38px;
            }
        }
        h4{
            font-family: var(--fuente-barlow);
            font-weight: 800;
            font-size: 35px;
            color: #fff;
            position: relative;
            &::before{
                content: '';
                background-image: url(../icons/viñeta.svg);
                width: 17.5px;
                height: 18px;
                font-size: 20px;
                position: absolute;
                background-size: 100%;
                background-repeat: no-repeat;
                left: -24px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        p{
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 30px;
            color: #fff;
        }
        .slider-fotos{
            margin-top: 30px;
            .item-foto{
                margin: 0 15px;
                img{
                    width: 100%;
                    border-radius: 20px;
                    filter: drop-shadow(10px 10px 15px #4394A8);
                }
            }
            .slick-prev {
                background-image: url(../icons/flecha-izq.svg);
                background-repeat: no-repeat !important;
                background-size: 100% !important;
                width: 71px;
                height: 71px;
            }
            .slick-next {
                background-image: url(../icons/flecha-de.svg);
                background-repeat: no-repeat !important;
                background-size: 100% !important;
                width: 71px;
                height: 71px;
            }
            .slick-prev:before, .slick-next:before{
                display: none;
            }
            .slick-prev {
                left: -91px;
            }
            .slick-next {
                right: -91px;
            }

            .slick-prev.slick-disabled, .slick-next.slick-disabled{
                opacity: 0.5;
            }
        }
    }
}

section.item-popup.open{
    visibility: visible;
    overflow-y: auto;
}

section.contacto-page{
    background: linear-gradient(180deg, #4BA6B8 0%, #4DEFDF 120%);
    height: 100vh;
    padding: 80px 0;
    position: relative;
    .fondo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .container{
        height: 100%;
        .top{
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                color: var(--color-morado);
                z-index: 5;
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 70px;
            }
        }
        .content{
            display: flex;
            height: 100%;
            align-items: center;
            transform: translateY(-85px);
            // justify-content: center;
            .part1{
                width: 100%;
                h1{
                    font-family: var(--fuente-barlow);
                    font-weight: 700;
                    font-size: 40px;
                    color: var(--color-morado-claro);
                    span{
                        color: var(--color-morado);
                        font-weight: 900;
                    }
                }
                .formulario-contacto{
                    display: flex;                    
                }
                form{
                    margin-top: 25px;
                    width: 50%;
                    margin-right: 40px;
                    fieldset {
                        border: none;
                        .form-group {
                            width: 100%;
                            position: relative;
                            input {
                                font-family: var(--fuente-barlow);
                                margin-bottom: 16px;
                                height: 64px;
                                border: none;
                                font-size: 20px;
                                width: 100%;
                                color: #fff;
                                background: rgba(75, 166, 184, 0.73);
                                padding: 0 20px;
                                padding-top: 8px;
                                border-radius: 20px;
                                &:focus {
                                    outline-style: none;
                                  } 
                            }
                            .form-label {
                                position: absolute;
                                left: 20px;
                                top: 20px;
                                color: #fff;
                                font-family: var(--fuente-barlow);
                                font-size: 18px;
                                cursor: text;
                                transition: 0.1s linear;
                                z-index: 1;
                            }
                            input:valid ~ label, input:focus ~ label, textarea:valid ~ label, textarea:focus ~ label {
                                font-size: 14px;
                                left: 20px;
                                top: 6px;
                            }
                            textarea {
                                font-family: var(--fuente-barlow);
                                margin-bottom: 16px;
                                height: 155px;
                                border: none;
                                font-size: 20px;
                                width: 100%;
                                color: #fff;
                                background: rgba(75, 166, 184, 0.73);
                                padding: 0 20px;
                                padding-top: 22px;
                                border-radius: 20px;
                                &:focus {
                                    outline-style: none;
                                  } 
                            }
                        }
                    }
                    button{
                        padding: 11px 32px;
                        font-family: var(--fuente-prompt);
                        font-weight: 500;
                        font-size: 20px;
                        border-radius: 10px;
                        background-color: var(--color-morado);
                        color: var(--color-verde);
                        border: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        img{
                            margin-left: 20px;
                        }
                    }
                }
                .info{
                    width: 50%;
                    // margin-top: 25px;
                    // margin-bottom: 70px;
                    margin: 42px 0 70px 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        font-family: var(--fuente-barlow);
                        font-weight: 500;
                        font-size: 18px;
                        color: #495A8F;
                        position: relative;
                        &::before{
                            content: '';
                            width: 19px;
                            height: 3px;
                            position: absolute;
                            background-color: var(--color-morado);
                            top: -15px;
                        }
                    }
                    div{
                        a{
                            margin: 0 7px;
                        }
                        a:first-child{
                            margin-left: 0;
                        }
                        position: relative;
                        &::before{
                            content: '';
                            width: 19px;
                            height: 3px;
                            position: absolute;
                            background-color: var(--color-morado);
                            top: -15px;
                        }
                    } 
                }
            }
        }
    }
}

section.thanks-page{
    background: linear-gradient(180deg, #4BA6B8 0%, #4DEFDF 120%);
    height: 100vh;
    padding: 80px 0;
    position: relative;
    .fondo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .container{
        height: 100%;
        .top{
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                color: var(--color-morado);
                z-index: 5;
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 70px;
            }
        }
        .content{
            display: flex;
            height: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transform: translateY(-95px);
            h1{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 80px;
                color: #fff;
            }
            p{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 50px;
                color: var(--color-morado);
            }
            a{
                padding: 11px 32px;
                color: var(--color-verde);
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 20px;
                border-radius: 10px;
                background-color: var(--color-morado);
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-top: 30px;
                img{
                    margin-left: 28px;
                }
            }
        }
    }
}