@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
  
:root {
    --fuente-barlow: 'Barlow', sans-serif;
    --fuente-prompt: 'Prompt', sans-serif;
    --color-morado: #3A2A68;
    --color-morado-claro: #49558C;
    --color-verde: #4DE7DB;
    /*slider en nosotros*/
    --marquee-width: 100%;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 1;
    --marquee-element-width: calc( var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 15s);
    /*end slider en nosotros*/

    /*slider de clientes en home*/
    --marquee-width2: 100%;
    --marquee-heigh2t: 20vh;
    --marquee-elements-displayed2: 3.5;
    --marquee-element-width2: calc( var(--marquee-width2) / var(--marquee-elements-displayed2));
    --marquee-animation-duration2: calc(var(--marquee-elements2) * 5s);
    /*end slider de clientes en home*/
}

.servicios-item a:hover, .item-servicios a:hover, .item-category{
    cursor: url(../img/hover-mouse-green.png) 52 52, pointer;
}

.container {
    width: 85%;
    max-width: 1430px;
    margin: 0 auto;
}

main{
    overflow: hidden;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 43px 0;
    z-index: 10;
    transition: 0.3s ease;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu{
            display: flex;
            ul{
                list-style: none;
                // margin-right: 8px;
                li{
                    display: inline-block;
                    padding: 0 26px;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                li.select{
                    a{
                        color: var(--color-verde);
                    }
                }
                li.contacto{
                    padding-right: 0;
                    a{
                        border: 2px solid var(--color-verde);
                        border-bottom: 4px solid var(--color-verde);
                        padding: 11px 38px;
                        color: var(--color-verde);
                        display: flex;
                        align-items: center;
                        position: relative;
                        overflow: hidden;
                        transition: 0.2s linear;
                        img{
                            margin-left: 5px;
                        }
                        img:nth-child(2),
                        img:nth-child(3){
                            display: none;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            background-color: var(--color-verde);
                            height: 100%;
                            transform: translateY(100%);
                            transition: 0.2s linear;
                            z-index: -2;
                        }
                    }                    
                    a:hover{
                        color: var(--color-morado);
                        img:nth-child(1),
                        img:nth-child(3){
                            display: none;
                        }
                        img:nth-child(2){
                            display: block;
                        }
                        &::before{
                            transform: translateY(0);
                        }
                    }
                }
            }
            .redes{
                margin-right: 30px;
                display: flex;
                align-items: center;
                a{                    
                    margin: 0 10px;
                    height: 26px;
                }
            }
        }
    }
}

header.sticky{
    padding: 25px 0;
    nav .menu ul li.contacto a{
        color: var(--color-morado);
        border: 2px solid var(--color-morado);
        border-bottom: 4px solid var(--color-morado);
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: var(--color-morado);
            height: 100%;
            transform: translateY(100%);
            transition: 0.2s linear;
            z-index: -2;
        }        
        img:nth-child(1){
            display: none;
        }
        img:nth-child(2){
            display: block;
        }
        &:hover{
            color: #fff;
            img:nth-child(1),
            img:nth-child(2)
            {
                display: none;
            }
            img:nth-child(3){
                display: block;
            }
            &::before{
                transform: translateY(0);
            }
        }
    }
}

header.sticky::before {
    transform: translateY(0%);  
}

header::before {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 28px;
    background-position-y: 30px;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 96px;
    width: 100%;
    background-color: rgba(75, 166, 184, 0.9);;
    z-index: -2;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

.switch {
    transform: rotate(180deg);
    input[type=checkbox] {
        appearance: none;
        height: 29px;
        width: 72px;
        background-color: #fff;
        position: relative;
        border-radius: .2em;
        cursor: pointer;
        border-radius: 10px;
    }
       
    input[type=checkbox]::before {
        content: '';
        display: block;
        height: 23px;
        width: 33px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: calc(2.3em/2 + .3em);
        background-color: var(--color-verde);
        border-radius: .2em;
        transition: .3s ease;
        border-radius: 8px;
    }
       
    input[type=checkbox]:checked::before {
        background-color: var(--color-morado);
        left: calc(100% - (2.3em/2 + .3em));
    }
}  
   

a.whatsapp{
    position: fixed;
    right: 100px;
    bottom: 62px;
    z-index: 10;
}

section.home{
    position: relative;
    overflow: hidden;
    height: 1350px;
    .filtro{
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(75, 153, 177, 0.62) 0%, rgba(77, 231, 219, 0.62) 0.01%, rgba(77, 231, 219, 0) 126.83%);
        position: absolute;
        z-index: -1;
    }
    .filtro1{
        width: 100%;
        height: 25%;
        z-index: 1;
        background: linear-gradient(180deg, #4B99B1 0%, rgba(75, 153, 177, 0) 87.44%);
        position: absolute;
    }
    .home-bg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        // background-image: url(../img/fondo-home.jpg);
        // background-attachment: fixed;
        background-size: cover;
        // background-position: center;
        z-index: -2;
    }
    .container{
        height: 100%;
    }
    .content{
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 270px;
        max-width: 801px;
        img{
            position: absolute;
            top: 13%;
            right: 0;
            filter: drop-shadow(36px 4px 70px rgba(53, 130, 146, 0.47));
        }
        h1{
            font-family: var(--fuente-barlow);
            font-size: 90px;
            font-weight: 900;            
            letter-spacing: 0.05em;
            color: #fff;
            span{
                color: var(--color-morado);
            }
        }
        .slider-servicios-home{
            padding-top: 10px;
            a{
                text-decoration: none;
                color: var(--color-morado);
                font-family: var(--fuente-barlow);
                font-size: 40px;
                font-weight: 700;  
            }
            .owl-item{
                width: auto !important;
                margin-right: 0 !important;
                .item{
                    // display: flex;
                    // justify-content: center;
                    padding: 0 30px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 5px;
                        right: -7px;
                        top: 50%;
                        background-color: var(--color-morado);
                    }
                }
            }
        }
        // a{
        //     margin-top: 50px;
        //     padding: 11px 17px;
        //     background-color: var(--color-morado);
        //     text-decoration: none;
        //     color: #fff;
        //     display: flex;
        //     align-items: center;
        //     border-radius: 10px;
        //     font-family: var(--fuente-prompt);            
        //     font-weight: 500;
        //     font-size: 20px;
        //     box-shadow: 7px 7px 6px rgba(40, 29, 71, 0.51);
        //     img{
        //         padding-left: 19px;
        //     }
        // }
    }
}

section.experiencias{
    padding-bottom: 70px;
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 60px;
        color: var(--color-morado);
        // text-align: center;
        span{
            color: var(--color-morado);
            font-weight: 900;
        }
    }
    p{
        padding: 28px 0;
        padding-bottom: 15px;
        font-family: var(--fuente-prompt);
        font-weight: 400;
        font-size: 22px;
        color: var(--color-morado);
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-info{
            h3{
                font-family: var(--fuente-barlow);                
                font-weight: 900;
                font-size: 120px;
                color: var(--color-morado);
                span{
                    -webkit-text-fill-color: #fff;
                    -webkit-text-stroke: 2.5px var(--color-morado);
                }
            }
            h4{
                color: var(--color-morado);
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 35px;
                text-align: center;
            }
        }
    }
}

section.servicios{
    // background: linear-gradient(180deg, #4DE7DB 0%, #4B99B1 100%);
    padding: 70px 0;
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 60px;
        color: var(--color-morado);
        margin-bottom: 35px;
        span{
            font-weight: 900;
            color: var(--color-morado);
        }
    }
    p{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #fff;
        margin: 25px 0;
        margin-bottom: 35px;
    }
    
    .content{
        display: flex;
        position: relative;
        align-items: center;
    }
    .part1{
        width: 35%;
        transform: translateY(-115px);
        .container{
            margin-right: 0;
            width: 65%;
        }
        a{  
            text-decoration: none;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            padding: 11px 25px;
            border: 2px solid var(--color-morado);
            border-bottom: 4px solid var(--color-morado);
            color: var(--color-morado);
            display: flex;
            align-items: center;
            width: fit-content;
            position: relative;
            overflow: hidden;
            transition: 0.2s linear;
            img{
                margin-left: 5px;
            }
            img:nth-child(2){
                display: none;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--color-morado);
                height: 100%;
                transform: translateY(100%);
                transition: 0.2s linear;
                z-index: -2;
            }
            &:hover{
                color: #fff;
                img:nth-child(1){
                    display: none;
                }
                img:nth-child(2){
                    display: block;
                }
                &::before{
                    transform: translateY(0);
                }
            }
        }
    }
    .part2{
        width: 65%;
        .item-servicios{
            border-radius: 20px;
            margin: 0 30px;
            // filter: drop-shadow(14px 18px 15px #4394A8);
            a{
                text-decoration: none;
            }
            img{
                width: 100%;
                border-radius: 20px;
            }
            .img{
                position: relative;
            }
            .filtro{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 65%;
                background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.58) 99.46%);
                border-radius: 0px 0px 20px 20px;
            }
            p{  
                position: absolute;
                bottom: 0;
                margin: 0;
                padding: 20px 0;
                padding-left: 43px;
                &::before  {  
                    content: '';
                    background-image: url(../icons/flecha-verde2.svg);
                    width: 16px;
                    height: 16px;
                    font-size: 20px;
                    position: absolute;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    left: 16px;
                    top: 34.5px;                    
                }
            }
        }
        .slick-slider{
            position: initial;
        }
        .slick-prev {
            left: 12vw;
            background-image: url(../icons/flecha-izq.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 54px;
            height: 63px;
        }
        .slick-next {
            left: 16vw;
            background-image: url(../icons/flecha-de.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 54px;
            height: 63px;
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-prev, .slick-next{
            top: 66%;
        }
        .slick-arrow.slick-disabled{
            opacity: 0.5;
        }
    }
}

section.proyectos{
    padding: 70px 0;
    padding-bottom: 140px;
    h2{
        color: var(--color-morado);
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 60px;
        span{
            color: var(--color-morado);
            font-weight: 900;
        }
    }
    .slider-proyectos{
        margin: 73px 0;
        .item-proyectos{
            transition: all 300ms ease;
            position: relative;
            border-radius: 20px;
            margin: 0 50px;
            border-radius: 20px;
            .filtro{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba(58, 42, 104, 0.6);
                z-index: 2;
                border-radius: 20px;
            }
            .filtro1{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70%;
                border-radius: 20px;
                // z-index: -1;
                background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.64) 99.46%);
            }
            img{
                width: 100%;
                border-radius: 20px;
                // z-index: -2;
            }
            .info{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 26px 50px;  
                border-radius: 20px;              
                h4{
                    font-family: var(--fuente-barlow);                    
                    font-weight: 800;
                    font-size: 30px;
                    color: #fff;
                    position: relative;
                    &::before{
                        content: '';
                        background-image: url(../icons/flecha-verde2.svg);
                        width: 17.5px;
                        height: 17.5px;
                        font-size: 20px;
                        position: absolute;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-40%);
                    }
                }
                p{
                    font-family: var(--fuente-barlow);
                    font-weight: 500;
                    font-size: 22px;
                    color: #fff;
                }
                
            }
        }
        .slick-list {
            overflow: visible;
        }
        .slick-center{
            transform: scale(1.2);
            .filtro{
                background: none;
            }
        }
        .slick-prev {
            left: initial;
            right: 305px;
            background-image: url(../icons/flecha-izq.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 54px;
            height: 63px;
        }
        .slick-next {
            right: 235px;
            background-image: url(../icons/flecha-de.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 54px;
            height: 63px;
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-prev, .slick-next{
            top: -123px;
        }
    }
    .btn{
        display: flex;
        justify-content: center;
        a{
            margin-top: 15px;
            padding: 11px 17px;
            color: var(--color-morado);
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            border: 2px solid var(--color-morado);
            border-bottom: 4px solid var(--color-morado);
            position: relative;
            overflow: hidden;
            img{
                padding-left: 19px;
            }
            img:nth-child(2){
             display: none;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--color-morado);
                height: 100%;
                transform: translateY(100%);
                transition: 0.2s linear;
                z-index: -2;
            }
            &:hover{
                color: #fff;
                img:nth-child(1){
                    display: none;
                }
                img:nth-child(2){
                    display: block;
                }
                &::before{
                    transform: translateY(0);
                }
            }
        }
    }
}

section.clientes{
    padding: 140px 0;
    background-color: var(--color-morado);
    .content{
        display: flex;
        position: relative;
        .part1{
            width: 35%;
            .container {
                margin-right: 0;
                width: 65%;
            }
        } 
        .part2{
            width: 65%;
        }
    }
    h2{
        font-family: var(--fuente-barlow);
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 60px;
        span{
            font-weight: 900;
        }
    }
}

.sliderClientes{
    height: 100%;
    display: flex;
    align-items: center;
}

.marquee2 {
    width: var(--marquee-width2);
    color: #eee;
    overflow: hidden;
    position: relative;
}
.marquee-content2 {
    list-style: none;
    // height: 100%;
    display: flex;
    align-items: flex-end;
    animation: scrolling2 var(--marquee-animation-duration2) linear infinite;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        flex-shrink: 0;
        width: var(--marquee-element-width2);
        // font-size: calc(var(--marquee-height2)*3/4);
        white-space: nowrap; 
    }
  
}
  
@keyframes scrolling2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--marquee-element-width2) * var(--marquee-elements2))
      );
    }
}

footer{
    padding-top: 70px;
    color: var(--color-morado);
    .content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        p{
            padding-bottom: 10px;
        }
        .redes{
            a{
                margin: 0 5px;
            }
            a:first-child{
                margin-left: 0;
            }
        }
        p{
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 18px;  
        }
        div{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 19px;
                height: 3px;
                top: -25px;
                background-color: var(--color-verde);
            }   
        }
    }
    .pie{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-verde);
        }
        display: flex;
        justify-content: space-between;
        p{            
            padding-top: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 400;
            font-size: 16px;
        }
    }
}

section.interna{
    position: relative;
    overflow: hidden;
}

.interna-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -2;
}

.content-title{
    padding: 70px 0;
    padding-top: 244px;
    position: relative;
    overflow: hidden;
    .container{
        width: 57.5%;
        position: relative;
        z-index: 2;
    }
    h1{
        font-family: var(--fuente-barlow);        
        font-weight: 900;
        font-size: 90px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #fff;
        span{
            color: var(--color-morado);
        }
    }
    p{
        margin-top: 30px;
        font-family: var(--fuente-prompt);
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: var(--color-morado);
    }
}

.mision-vision{
    padding: 70px 0;
    padding-bottom: 140px;
    .content{
        display: flex;
        align-items: center;
    }
    .part1{
        width: 50%;
        .content-img{
            position: relative;
            width: fit-content;
            border-radius: 20px;
            display: flex;
            .filtro{
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                border-radius: 20px;
                z-index: 2;
                // background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
            }
        }
        img{
            border-radius: 20px;
            // filter: drop-shadow(14px 12px 15px rgba(67, 148, 168, 0.34));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    .part2{
        width: 50%;
        h3{
            font-family: var(--fuente-barlow);
            font-weight: 900;
            font-size: 60px;            
            color: var(--color-morado);
        }
        div:nth-child(2){
            margin-top: 50px;
        }
        p{
            margin-top: 10px;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 22px;
            color: var(--color-morado);
        }
    }
}

section.valores{
    padding: 122px 0;
    padding-bottom: 136px;
    background-color: var(--color-morado);
    h2{
        font-family: var(--fuente-barlow);
        font-weight: 500;
        font-size: 60px;
        color: #fff;
        text-align: center;
        span{
            font-weight: 900;
        }
    }
    .content-valores{
        padding-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{            
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                text-align: center;
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 35px;
                color: #fff;
            }
        }
    }
}

.marquee {
    width: var(--marquee-width);
    // background-color: #111;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    padding: 118px 0;
    padding-bottom: 20px;
}
.marquee-content {
    font-family: var(--fuente-barlow);
    font-weight: 900;
    font-size: 90px;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    // -webkit-text-fill-color: #efefef;
    // -webkit-text-stroke: 2.5px black;  
    // color: var(--color-verde);
    transition: 0.3s ease;
    &:hover{
      -webkit-text-stroke: 3px var(--color-rojo);
    }
    li {
      line-height: 100px;
      white-space: nowrap;
      color: #3A2A68;
      // margin: 0 15px;
      margin-right: 15px;
      letter-spacing: 1px;
      cursor: default;
      // text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
      //   2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000;
        
    }
  
}
  
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
      );
    }
}

.servicios-grid{
    padding: 55px 0;
    padding-bottom: 140px;
    .servicios-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .servicios-item{
        position: relative;
        border-radius: 20px;
        filter: drop-shadow(8px 14px 15px rgba(67, 148, 168, 0.4));
        .filtro{
            position: absolute;
            width: 100%;
            height: 80%;
            bottom: 0;
            background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.64) 99.46%);
            border-radius: 20px;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .info{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 24px 60px;
        }
        p{            
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 35px;
            color: #fff;
            position: relative;
            &::before{
                content: '';
                background-image: url(../icons/flecha-verde2.svg);
                width: 17.5px;
                height: 100%;
                font-size: 20px;
                position: absolute;
                background-size: 100%;
                background-repeat: no-repeat;
                left: -31px;
                top: 14.5px;
            }
        }
    }
}

section.tarj-contacto{
    padding: 140px 0;
    background: var(--color-morado);
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;        
        h2{
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 60px;
            color: #fff;
            width: 652px;
            line-height: 60px;
            span{
                font-weight: 900;
            }
        }
        a{
            padding: 11px 32px;
            display: flex;
            align-items: center;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            color: var(--color-verde);
            text-decoration: none;
            display: flex;
            align-items: center;
            border: 2px solid var(--color-verde);
            border-bottom: 4px solid var(--color-verde);
            position: relative;
            overflow: hidden;
            img{
                padding-left: 10px;
            }
            img:nth-child(2){
                display: none;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--color-verde);
                height: 100%;
                transform: translateY(100%);
                transition: 0.2s linear;
            }
            &:hover{
                color: #fff;
                img:nth-child(1){
                    display: none;
                }
                img:nth-child(2){
                    display: block;
                }
                &::before{
                    transform: translateY(0);
                }
            }
        }
    }
}

.services-info{
    padding: 70px 0;
    padding-bottom: 140px;
    .info{
        display: flex;
        .part1{
            padding-right: 80px;
            width: 35.7%;
            .img {
                position: relative;
                .filtro {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 65%;
                    background: linear-gradient(180deg, rgba(73, 169, 183, 0) 0%, #4B9BB2 100%);
                    border-radius: 0px 0px 20px 20px;
                }
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }        
        .part2{            
            width: 64.3%;
            .content{
                padding-left: 40px;
            }
            h3{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 35px;
                color: var(--color-morado);
                position: relative;
                line-height: 37px;
                &::before {
                    content: '';
                    background-image: url(../icons/viñeta.svg);
                    width: 17.5px;
                    height: 100%;
                    font-size: 20px;
                    position: absolute;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    left: -39px;
                    top: 50%;
                    transform: translateY(-8.75px);
                }
            }
            //h3:first-child{
                //margin-top: 0;
            //}
            .parrafo{
                margin-top: 32px;
            }
            .parrafo:first-child{
                margin-top: 0;
            }
            p{
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 22px;
                color: var(--color-morado);   
                padding-top: 20px;             
            }
            .btn {
                display: flex;
                justify-content: flex-start;
                a {
                    margin-top: 50px;
                    padding: 11px 17px;
                    text-decoration: none;
                    color: var(--color-morado);
                    display: flex;
                    align-items: center;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 20px;
                    border: 1px solid var(--color-morado);
                    border-bottom: 4px solid var(--color-morado);
                    img {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
}

.proyectos-list{
    padding: 53px 0;
    padding-bottom: 140px;
    .category{
        padding-bottom: 50px;
        ul{
            list-style: none;
            border: solid 2px var(--color-morado);
            width: fit-content;
            margin: 0 auto;
            li{                
                display: inline-block;                
                margin: 0 -2px;
                a{
                    text-decoration: none;
                    color: var(--color-morado);
                    transition: 0.2s linear;
                    font-family: var(--fuente-prompt);
                    font-weight: 500;
                    font-size: 22px;
                    padding: 11px 21px;
                    display: block;
                    border-left: 2px solid var(--color-morado-claro);
                    transition: 0.2s linear;
                }
            }
            li:first-child a{
                border-left: none;
            }
            //li:last-child a{
            //}
            li a.select,li a:hover{
                color: #fff;                    
                background-color: var(--color-morado);
            }
        }
    }

    .items-category{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        .item-category{
            transition: all 300ms ease;
            position: relative;
            border-radius: 20px;
            border-radius: 20px;
            .info-popup{
                display: none;
            }
            .filtro1{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70%;
                border-radius: 20px;
                background: linear-gradient(180.63deg, rgba(0, 0, 0, 0) 15.96%, rgba(0, 0, 0, 0.85) 99.46%);
                z-index: 1;
            }
            img{
                width: 100%;
                border-radius: 20px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .info{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 31px 63px;
                border-radius: 20px;
                z-index: 2;
                h4 {
                    font-family: var(--fuente-barlow);
                    font-weight: 800;
                    font-size: 35px;
                    color: #fff;
                    position: relative;
                    &::before{
                        content: '';
                        background-image: url(../icons/flecha-verde2.svg);
                        width: 17.5px;
                        height: 18px;
                        font-size: 20px;
                        position: absolute;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-8.75px);
                    }
                }
                p {
                    font-family: var(--fuente-barlow);
                    font-weight: 500;
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
    }
    
    .btn {
        display: flex;
        justify-content: center;
        a {
            margin-top: 50px;
            padding: 11px 17px;
            text-decoration: none;
            color: var(--color-morado);
            display: flex;
            align-items: center;
            font-family: var(--fuente-prompt);
            font-weight: 500;
            font-size: 20px;
            border: 1px solid var(--color-morado);
            border-bottom: 4px solid var(--color-morado);
            display: flex;
            align-items: center;
            img {
                padding-left: 10px;
            }
        }
    }
}

.modulo-mas {
    display: none;
  }

section.item-popup{
    background: linear-gradient(290.57deg, #4CBBC3 5.73%, #4A83A5 107.57%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
    z-index: 11;
    padding: 25px 0;
    .top{
        display: flex;
        justify-content: flex-end;
        button{
            border: none;
            background-color: transparent;
            font-family: var(--fuente-barlow);
            font-weight: 900;
            font-size: 72px;
            color: var(--color-morado);
            cursor: pointer;
            z-index: 5;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        .info{            
            width: 68%;
            transform: translateY(-29px);
            .text{
                padding-left: 38px;
            }
        }
        h4{
            font-family: var(--fuente-barlow);
            font-weight: 800;
            font-size: 35px;
            color: #fff;
            position: relative;
            &::before{
                content: '';
                background-image: url(../icons/viñeta.svg);
                width: 17.5px;
                height: 18px;
                font-size: 20px;
                position: absolute;
                background-size: 100%;
                background-repeat: no-repeat;
                left: -24px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        p{
            font-family: var(--fuente-barlow);
            font-weight: 500;
            font-size: 30px;
            color: #fff;
            padding-top: 8px;
        }
        .slider-fotos{
            margin-top: 30px;
            .item-foto{
                margin: 0 15px;
                img{
                    width: 100%;
                    border-radius: 20px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    margin-bottom: 10px;
                }
            }
            .slick-prev {
                background-image: url(../icons/flecha-izq-blanco.svg);
                background-repeat: no-repeat !important;
                background-size: 100% !important;
                width: 54px;
            height: 63px;
            }
            .slick-next {
                background-image: url(../icons/flecha-de-blanco.svg);
                background-repeat: no-repeat !important;
                background-size: 100% !important;
                width: 54px;
            height: 63px;
            }
            .slick-prev:before, .slick-next:before{
                display: none;
            }
            .slick-prev {
                left: -91px;
            }
            .slick-next {
                right: -91px;
            }

            .slick-prev.slick-disabled, .slick-next.slick-disabled{
                opacity: 0.5;
            }
        }
        .parrafo-popup{
            padding-top: 15px;
            font-family: var(--fuente-barlow);
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
        }
    }
}

section.item-popup.open{
    visibility: visible;
    // overflow-y: auto;
}

section.contacto-page{
    background: linear-gradient(180deg, #4BA6B8 0%, #4DEFDF 120%);
    // background-image: url(../img/fondo-contacto.jpg);
    height: 100vh;
    padding: 80px 0;
    position: relative;
    .fondo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .container{
        height: 100%;
        .top{
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                color: #fff;
                z-index: 5;
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 70px;
            }
        }
        .content{
            display: flex;
            height: 100%;
            align-items: center;
            transform: translateY(-85px);
            // justify-content: center;
            .part1{
                width: 100%;
                h1{
                    font-family: var(--fuente-barlow);
                    font-weight: 700;
                    font-size: 40px;
                    color: var(--color-morado);
                    span{
                        color: var(--color-morado);
                        font-weight: 900;
                    }
                }
                .formulario-contacto{
                    display: flex;                    
                }
                form{
                    margin-top: 43px;
                    width: 50%;
                    margin-right: 40px;
                    fieldset {
                        border: none;
                        .form-group {
                            width: 100%;
                            position: relative;
                            input {
                                font-family: var(--fuente-barlow);
                                margin-bottom: 30px;
                                height: 64px;
                                border: none;
                                font-size: 20px;
                                width: 100%;
                                color: var(--color-morado);
                                background: transparent;
                                padding: 0 20px;
                                padding-top: 8px;
                                border: 2px solid var(--color-morado);
                                &:focus {
                                    outline-style: none;
                                  } 
                            }
                            .form-label {
                                position: absolute;
                                left: 20px;
                                top: 20px;
                                color: var(--color-morado);
                                font-family: var(--fuente-barlow);
                                font-size: 18px;
                                font-weight: 400;                                cursor: text;
                                transition: 0.1s linear;
                                z-index: 1;
                            }
                            input:valid ~ label, input:focus ~ label, textarea:valid ~ label, textarea:focus ~ label {
                                font-size: 14px;
                                left: 20px;
                                top: 6px;
                            }
                            textarea {
                                font-family: var(--fuente-barlow);
                                margin-bottom: 50px;
                                height: 155px;
                                border: none;
                                font-size: 20px;
                                width: 100%;
                                color: var(--color-morado);
                                border: 2px solid var(--color-morado);
                                background: transparent;
                                padding: 0 20px;
                                padding-top: 22px;
                                &:focus {
                                    outline-style: none;
                                  } 
                            }
                        }
                    }
                    button{
                        padding: 11px 32px;
                        font-family: var(--fuente-prompt);
                        font-weight: 500;
                        font-size: 20px;
                        background-color: transparent;
                        color: var(--color-morado);
                        border: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        border: 2px solid var(--color-morado);
                        border-bottom: 4px solid var(--color-morado);
                        img{
                            margin-left: 10px;
                        }
                    }
                }
                .info{
                    width: 50%;
                    margin: 36px 0 70px 80px;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-family: var(--fuente-prompt);
                        font-weight: 400;
                        font-size: 22px;
                        color: var(--color-morado);
                        position: relative;
                        padding-bottom: 33px;
                        &::before {
                            content: '';
                            background-image: url(../icons/flecha-morada.svg);
                            width: 16px;
                            height: 16px;
                            font-size: 20px;
                            position: absolute;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            left: -30px;
                            top: 11px;
                        }
                    }
                    div{
                        p{
                            padding-bottom: 10px;
                        }
                        a{
                            margin: 0 7px;
                        }
                        a:first-child{
                            margin-left: 0;
                        }
                        position: relative;
                    } 
                }
            }
        }
    }
}

section.thanks-page{
    height: 100vh;
    padding: 80px 0;
    position: relative;
    .fondo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .container{
        height: 100%;
        .top{
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                color: #fff;
                z-index: 5;
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 70px;
            }
        }
        .content{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            transform: translateY(-95px);
            h1{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 80px;
                color: var(--color-morado);
                position: relative;
                &::before {
                    content: '';
                    background-image: url(../icons/flecha-morada.svg);
                    width: 36.42px;
                    height: 41px;
                    font-size: 20px;
                    position: absolute;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    left: -40px;
                    top: 55%;
                    transform: translateY(-50%);
                }
            }
            p{
                font-family: var(--fuente-barlow);
                font-weight: 900;
                font-size: 50px;
                color: var(--color-morado);
                padding-top: 11px;
            }
            a{
                padding: 11px 32px;
                font-family: var(--fuente-prompt);
                font-weight: 500;
                font-size: 20px;
                display: flex;
                align-items: center;
                text-decoration: none;
                background-color: transparent;
                margin-top: 40px;
                color: var(--color-morado);
                border: 2px solid var(--color-morado);
                border-bottom: 4px solid var(--color-morado);
                width: fit-content;
                img{
                    margin-left: 10px;
                }
            }
        }
    }
}